<div class="container-fluid bg-platinum back-btn-container">
    <div class="row">
        <div class="col-md-12">
            <button 
                type="button" 
                class="btn btn-outline-dark" 
                (click)="onBackHome()"
            >
                <i class="fa-solid fa-angles-left"></i>
                <span class="px-4 font-weight-bold">
                    <i class="fa-solid fa-house-chimney"></i>
                        Home
                </span>
            </button>
        </div>
    </div>
</div>

<!-- Leadership: Class Representative -->

<section class="py-5 bg-platinum" style="min-height: 100vh;">

</section>