<footer class="bg-light text-center text-lg-start font-roboto">

  <div class="container-fluid">

    <div class="row d-flex justify-content-around">
      <!-- Icons -->
      <div class="col-lg-2 d-flex flex-row align-items-center justify-content-center">

        <!-- LinkedIn -->
        <a href="https://goo.gl/maps/RPNTN3r63BKCnSVD9" 
            class="footer-link-box"
            target="_blank" class="footer-link"> 
            <i class="fa-brands fa-linkedin"></i>
        </a>

         <!-- Github -->
        <a href="https://goo.gl/maps/RPNTN3r63BKCnSVD9" 
            target="_blank" class="footer-link"> 
            <i class="fa-brands fa-github"></i>
        </a>

        <!-- LeetCode -->
        <a href="https://goo.gl/maps/RPNTN3r63BKCnSVD9" 
            target="_blank" class="footer-link"> 
            <i class="fa-solid fa-code"></i>
        </a>

        <!-- Email -->
        <a href="https://goo.gl/maps/RPNTN3r63BKCnSVD9" 
            target="_blank" class="footer-link"> 
            <i class="fa-solid fa-envelope"></i>
        </a>

      </div>

      <!-- Copyright -->
      <div class="col-lg-2 text-center p-3 bg-light">
        © 2023 Copyright:
        <a class="text-dark" href="#">Jay Barot</a>
      </div>

      <!-- Copyright -->
      <!-- 
      <div class="col-lg-6 d-flex flex-row align-items-center">
        <p>Say Hi</p>
        <textarea class="form-control contact-me-textarea" [(ngModel)]="message" placeholder="Message"></textarea>
        <input type="email" class="form-control contact-me-email" [(ngModel)]="senderEmail" placeholder="Your Email">
        <button class="btn btn-primary" (click)="sendEmail()">Send</button>
      </div> -->

    </div>

  </div>
</footer>