<footer class="bg-platinum  text-center text-lg-start font-roboto">

  <div class="container-fluid">

    <div class="row mb-3" *ngIf="!isStandardFooter; else footerIcons">

      <!-- Contact Me -->  
      <div class="col-lg-6 d-flex align-self-center" style="margin-top: 3rem;">
        <div class="row justify-content-center mx-1">
          <div class="col-lg-10 col-md-10 col-sm-10 d-flex flex-column">

            <div class="row">
              <div class="col-md-12">
                <p class="contact-me-title">Let's Start a Conversation. <i class="fa-solid fa-comments"></i> </p>
                <p class="contact-me-sub-title">
                  Share Your Ideas and Let's Bring Your Vision to Life! 
                  Reach Out to Discuss Your Next Project or Collaboration Opportunity.
                </p>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-xl-9 col-lg-10 col-md-9">
                <textarea class="form-control contact-me-textarea mb-2" [(ngModel)]="message" placeholder="Message"></textarea>
                <input type="email" class="form-control contact-me-email mb-2" [(ngModel)]="senderEmail" placeholder="Your Email">
                <button class="btn btn-outline-dark w-100" (click)="sendEmail()">Send <i class="fa-solid fa-paper-plane"></i></button>   
              </div>
            </div> -->

            <!-- Contact Me Form -->
            <div class="row">
              <div class="col-xl-9 col-lg-10 col-md-9">

                <form 
                  [formGroup]="footerContactForm" 
                  (ngSubmit)="sendEmail()" 
                  novalidate
                >

                  <!-- Message Textarea -->
                  <textarea 
                    class="form-control contact-me-textarea"
                    id="message" 
                    placeholder="Message*" 
                    formControlName="message"
                    [class.custom-is-invalid]="this.footerContactForm.get('message')?.invalid && this.footerContactForm.get('message')?.touched"
                  >
                  </textarea>

                  <div 
                    *ngIf="this.footerContactForm.get('message')?.invalid && this.footerContactForm.get('message')?.touched"
                    class="text-danger text-left">
                    <small>Message is required.</small>
                  </div>

                  <!-- Senders Email -->
                  <input 
                    class="form-control contact-me-email"
                    type="email" 
                    id="senderEmail" 
                    placeholder="Your Email*"
                    formControlName="senderEmail"
                    [class.custom-is-invalid]="this.footerContactForm.get('senderEmail')?.invalid && this.footerContactForm.get('senderEmail')?.touched"
                  >

                  <div 
                    *ngIf="footerContactForm.get('senderEmail')?.hasError('required') && footerContactForm.get('senderEmail')?.touched" 
                    class="text-danger text-left"
                  >
                    <small>
                      Email is required.
                    </small>
                  </div>

                  <div 
                    *ngIf="this.footerContactForm.get('senderEmail')?.hasError('email') && this.footerContactForm.get('senderEmail')?.touched" 
                    class="text-danger text-left"
                  >
                    <small>
                      Email must be a valid email address.
                    </small>    
                  </div>

                  <!-- Captcha -->
                  <re-captcha 
                    [siteKey]="siteKey" 
                    (resolved)="onCaptchaResolved($event)">
                  </re-captcha>
                  
                  <div 
                    *ngIf="isCaptchaInvalid()"
                    class="text-danger text-left"
                  >
                    <small>
                      Please complete the reCAPTCHA.
                    </small>    
                  </div>

                  <!-- Submit Button -->
                  <button 
                    class="btn btn-outline-dark w-100 mt-2"
                    (click)="sendEmail()"
                    type="submit" 
                    [disabled]="!footerContactForm.valid"
                  >
                    Send
                    <i class="fa-solid fa-paper-plane"></i>
                  </button>

                </form>  
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <!-- Icons -->
      <div class="col-lg-6">

        <div class="row d-flex justify-content-center" style="margin-top: 3rem;">
          <div class="col-xl-8 col-lg-8 col-md-6 col-sm-7 col-10 d-flex justify-content-center">
            <img class="img-fluid" src="assets/images/contact.webp" alt="A vector illustration of a man using a cell phone to send a message and email, set against a cityscape background">
          </div>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-6 d-flex flex-row justify-content-center">
            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/in/jay-barot-751720170" 
              target="_blank" 
              class="footer-link"
              aria-label="Visit Jay Barots' LinkedIn Profile"
              > 
              <i class="fa-brands fa-linkedin footer-link-icon"></i>
            </a>

            <!-- Indeed -->
            <a href="https://profile.indeed.com/p/jayb-msw852b" 
              target="_blank" 
              class="footer-link" 
              style="text-decoration: none;"
              aria-label="View Jay Barots' Indeed Profile and Resume"
              > 
              <i class="cib-indeed"></i>
              <!-- <i class="fa-solid fa-code footer-link-icon"></i> -->
            </a>

            <!-- Github -->
            <a href="https://github.com/barotjay998" 
                target="_blank" 
                class="footer-link"
                aria-label="Visit Jay Barots' GitHub Profile"
                > 
                <i class="fa-brands fa-github footer-link-icon"></i>
            </a>

            <!-- LeetCode -->
            <!-- <a href="https://leetcode.com/_barotjay998/" 
                target="_blank" 
                class="footer-link" 
                style="text-decoration: none;"
                aria-label="Visit Jay Barots' LeetCode Profile"
                > 
                <i class="cib-leetcode"></i>
            </a> -->

            <!-- Email -->
            <a href="mailto:barot.jay@outlook.com" 
                target="_blank" 
                class="footer-link"
                aria-label="Contact Jay Barot via Email"
              >
                <i class="fa-solid fa-envelope footer-link-icon"></i>
            </a>
          </div>

        </div>

      </div>

    </div>

    <ng-template #footerIcons>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-12 d-flex flex-row justify-content-center" style="margin-top: 3rem;">
          <!-- LinkedIn -->
          <a href="https://www.linkedin.com/in/jay-barot-751720170" 
            class="footer-link-box"
            target="_blank" 
            class="footer-link mt-0 mb-0"
            aria-label="Visit Jay Barots' LinkedIn Profile"
          > 
            <i class="fa-brands fa-linkedin footer-link-icon"></i>
          </a>

          <!-- Indeed -->
          <a href="https://profile.indeed.com/p/jayb-msw852b" 
            target="_blank"
            class="footer-link mt-0 mb-0" 
            style="text-decoration: none;"
            aria-label="View Jay Barots' Indeed Profile and Resume"
            > 
            <i class="cib-indeed"></i>
            <!-- <i class="fa-solid fa-code footer-link-icon"></i> -->
          </a>

          <!-- Github -->
          <a href="https://github.com/barotjay998" 
              target="_blank" 
              class="footer-link mt-0 mb-0"
              aria-label="Visit Jay Barots' GitHub Profile"
            > 
              <i class="fa-brands fa-github footer-link-icon"></i>
          </a>

          <!-- LeetCode -->
          <!-- <a href="https://leetcode.com/_barotjay998/" 
              target="_blank" 
              class="footer-link mt-0 mb-0" 
              style="text-decoration: none;"
              aria-label="Visit Jay Barots' LeetCode Profile"
              > 
              <i class="cib-leetcode"></i>
          </a> -->

          <!-- Email -->
          <a href="mailto:barot.jay@outlook.com" 
              target="_blank" 
              class="footer-link mt-0 mb-0"
              aria-label="Contact Jay Barot via Email"
              >
              <i class="fa-solid fa-envelope footer-link-icon"></i>
          </a>
        </div>
      </div>
    </ng-template>

    <div class="row justify-content-center">

      <!-- Copyright -->
      <div class="col-lg-8 text-center pb-3 pt-3 ml-5 mr-5 font-courier-prime" style="border-top: 1px solid #c2c2c2;">
        <i class="fa-regular fa-copyright"></i> 2023 Copyright:
        <span class="text-dark">Jay Barot</span>
        All Rights Reserved
      </div>

    </div>

  </div>
</footer>