<div class="container-fluid bg-platinum back-btn-container">
    <div class="row">
        <div class="col-md-12">
            <button 
                type="button" 
                class="btn btn-outline-dark" 
                (click)="onBackHome()"
            >
                <i class="fa-solid fa-angles-left"></i>
                <span class="px-4 font-weight-bold">
                    <i class="fa-solid fa-house-chimney"></i>
                        Home
                </span>
            </button>
        </div>
    </div>
</div>

<!-- Computer Society of Xaviers -->
<!-- Workshops conducted -->

<section class="py-5 bg-platinum d-flex align-items-center" style="min-height: 100vh;">
    <div class="container-fluid mx-4">

        <!-- Heading Section -->
        <div class="row d-flex justify-content-center align-items-center" style="margin-bottom: 5rem;">
            <!-- Title -->
            <div class="col-xl-6 exactivities-title">
                <p>
                    Balancing Wisdom: Unveiling My Diverse Horizons in Extra Curricular Activities.
                </p>
            </div>
            <div class="col-xl-5">
                <p class="exactivities-sub-title pt-3">
                    I believe in embracing a well-rounded lifestyle. In addition to my love for coding and technology, 
                    I actively participate in various extracurricular activities that not only contribute to my personal 
                    growth but also allow me to give back to the community. One of my favorite pursuits is teaching tech 
                    to aspiring juniors, sharing my knowledge and experience to inspire the next generation of developers. 
                    Additionally, I engage with various tech-related organizations that provide a platform for networking, 
                    learning, and collaborating with like-minded individuals.
                </p>
            </div>
        </div>

        <!-- Workshops Part 1 -->
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-11">
                        <p class="exactivities-list-title">
                            <span class="mr-2">
                                <i class="fa-solid fa-1"></i>.
                            </span>
                            Hosting Hands-On Practical Workshops.
                        </p>
                    </div>
                </div>

                <div class="row d-flex justify-content-end">
                    <div class="col-xl-10">
                        <p class="exactivities-list-info">
                            During my junior year of study, I had the wonderful opportunity to organize and conduct several enriching workshops, 
                            one of which was a highly successful <strong>Web Development</strong> workshop tailored specifically for sophomores. 
                            Over four intensive days, I guided a batch of 100 students in creating a fully functional Banking web application. 
                            The workshop covered a comprehensive curriculum, starting from fundamentals and building knowledge step by step.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-10">
                        <img class="img-fluid" src="assets/images/web-wkshp-3.png" alt="Jay Barot Conducting Web Development Workshop">
                    </div>
                </div>
            </div>
        </div>

        <!-- Workshops Part 2 -->
        <div class="row mt-5 d-flex justify-content-center align-items-center">
            <div class="col-xl-6">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-10">
                        <img class="img-fluid" src="assets/images/web-wkshp-1.jpg" alt="Jay Barot Conducting Web Development Workshop">
                    </div>
                </div>
            </div>

            <div class="col-xl-6" style="margin-top: 16px;">
                <div class="row d-flex justify-content-end">
                    <div class="col-xl-10">
                        <p class="exactivities-list-info">
                            Throughout the workshop, my focus was on imparting essential skills, teaching participants how to 
                            code in <strong>HTML, CSS,</strong> and utilize <strong>Bootstrap</strong> for <strong> responsive web design
                            </strong>. Additionally, I introduced them to the world of databases by teaching 
                            <strong>SQL</strong> from scratch, enabling seamless data storage and retrieval. 
                            To make their web applications dynamic and interactive, I shared my expertise in 
                            <strong>hosting web servers</strong> and creating robust classical backends using <strong>PHP</strong>.
                            <br><br>
                            The resounding success of this workshop led to its high demand. 
                            In my senior year, I conducted the Web Development workshop once again, 
                            continuing the tradition of empowering and nurturing the next generation of web developers.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Soft Skills Highlighted -->
        <div class="row my-4 d-flex justify-content-around">
            <div class="col-xl-3 col-lg-5 col-md-6 col-sm-10 m-3 py-3 d-flex flex-column justify-content-center align-items-center softskills">
                <p class="mb-0 skill-logo"><i class="fa-solid fa-bullhorn"></i></p>
                <p class="mb-0 skill-text">Public Speaking <i class="fa-solid fa-arrow-up"></i></p>
            </div> 

            <div class="col-xl-3 col-lg-5 col-md-6 col-sm-10 m-3 py-3 d-flex flex-column justify-content-center align-items-center softskills">
                <p class="mb-0 skill-logo"><i class="fa-solid fa-person-chalkboard"></i></p>
                <p class="mb-0 skill-text">Presentation <i class="fa-solid fa-arrow-up"></i></p>
            </div> 

            <div class="col-xl-3 col-lg-5 col-md-6 col-sm-10 m-3 py-3 d-flex flex-column justify-content-center align-items-center softskills">
                <p class="mb-0 skill-logo"><i class="fa-regular fa-clock"></i></p>
                <p class="mb-0 skill-text">Time Management <i class="fa-solid fa-arrow-up"></i></p>
            </div> 
            
        </div>

        <!-- Workshops Part 3 -->
        <div class="row mt-5 d-flex justify-content-center align-items-center">
            <div class="col-xl-6">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-10">
                        <img class="img-fluid" src="assets/images/web-wkshp-2.jpg" alt="Jay Barot Conducting Web Development Workshop">
                    </div>
                </div>
            </div>

            <div class="col-xl-6" style="margin-top: 16px;">
                <div class="row d-flex justify-content-end">
                    <div class="col-xl-10">
                        <p class="exactivities-list-info">
                            I also orchestrated a transformative <strong>Computer Assembly</strong> workshop for Freshman students, 
                            guiding them through building personalized computers from scratch and providing essential 
                            information on requirement specifications, hardware selection, compatibility issues, and cost 
                            reduction. As students assembled PCs, I offered concise explanations on the significance of each 
                            computer part, resulting in an empowering experience where participants gained practical skills 
                            and a deeper understanding of the foundation that underpins our digital realm.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>