<div class="container-fluid bg-platinum back-btn-container">
    <div class="row">
        <div class="col-md-12">
            <button 
                type="button" 
                class="btn btn-outline-dark" 
                (click)="onBackHome()"
            >
                <i class="fa-solid fa-angles-left"></i>
                <span class="px-4 font-weight-bold">
                    <i class="fa-solid fa-house-chimney"></i>
                        Home
                </span>
            </button>
        </div>
    </div>
</div>

<!-- Computer Society of Xaviers -->
<!-- Workshops conducted -->
<!-- Volunteered for an inhouse program to teach underprivileged children in rural areas. -->

<section class="py-5 bg-platinum d-flex align-items-center" style="min-height: 100vh;">
    <div class="container-fluid mx-4">
        <div class="row d-flex justify-content-center align-items-center">
            <!-- Title -->
            <div class="col-xl-6 exactivities-title">
                <p>
                    Balancing Wisdom: Unveiling My Diverse Horizons in Extra Curricular Activities.
                </p>
            </div>
            <div class="col-xl-5">
                <p class="exactivities-sub-title pt-3">
                    I believe in embracing a well-rounded lifestyle. In addition to my love for coding and technology, 
                    I actively participate in various extracurricular activities that not only contribute to my personal 
                    growth but also allow me to give back to the community. One of my favorite pursuits is teaching tech 
                    to aspiring juniors, sharing my knowledge and experience to inspire the next generation of developers. 
                    Additionally, I engage with various tech-related organizations that provide a platform for networking, 
                    learning, and collaborating with like-minded individuals.
                </p>
            </div>
        </div>

        <!-- Workshops -->
        <div class="row">
            <!-- Heading -->
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</section>