<div class="container-fluid bg-platinum back-btn-container">
    <div class="row">
        <div class="col-md-12">
            <button 
                type="button" 
                class="btn btn-outline-dark" 
                (click)="onBackHome()"
            >
                <i class="fa-solid fa-angles-left"></i>
                <span class="px-4 font-weight-bold">
                    <i class="fa-solid fa-house-chimney"></i>
                        Home
                </span>
            </button>
        </div>
    </div>
</div>

<section class="py-5 bg-platinum" style="min-height: 100vh;">
    <div class="container-fluid">

        <!-- Title -->
        <div class="row">
            <div class="col-xl-12">
                <h1 
                    class="font-weight-bold text-center techskills-title animate__animated animate__fadeInLeft"
                >   
                <span>
                    <i class="fa-solid fa-microchip"></i>
                </span>
                    Technical Skills
                </h1>
            </div>
        </div>

        <div class="row mt-4 animate__animated animate__fadeInUp">
            <div class="col-xl-12 ml-xl-5">
                <h2
                    class="techskill-sub-title"
                >
                <i class="fa-solid fa-diamond"></i>
                    Programming Languages
                </h2>
            </div>
        </div>

        <div class="row justify-content-center mb-5 animate__animated animate__fadeInUp">
            <div class="col-xl-11 d-flex flex-row flex-wrap">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="fa-brands fa-java"></i>
                        <p class="mb-0">Java</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="fa-brands fa-python"></i>
                        <p class="mb-0">Python</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-typescript"></i>
                        <p class="mb-0">TypeScript</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-js"></i>
                        <p class="mb-0">JavaScript</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="fa-solid fa-c"></i>
                        <p class="mb-0">C++</p>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="fa-brands fa-html5"></i>
                        <p class="mb-0">HTML</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="fa-brands fa-css3-alt"></i>
                        <p class="mb-0">CSS</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="fa-brands fa-sass"></i>
                        <p class="mb-0">SCSS</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="fa-solid fa-database"></i>
                        <p class="mb-0">SQL</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="fa-brands fa-php"></i>
                        <p class="mb-0">PHP</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-4 animate__animated animate__fadeInUp">
            <div class="col-xl-12 ml-xl-5">
                <h2
                    class="techskill-sub-title"
                >
                <i class="fa-solid fa-diamond"></i>
                    Frontend
                </h2>
            </div>
        </div>


        <div class="row justify-content-center mb-5 animate__animated animate__fadeInUp">
            <div class="col-xl-11 d-flex flex-row flex-wrap">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-angular"></i>
                        <p class="mb-0">Angular</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-react"></i>
                        <p class="mb-0">React</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="fa-brands fa-node"></i>
                        <p class="mb-0">Node</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="fa-brands fa-bootstrap"></i>
                        <p class="mb-0">Bootstrap</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 animate__animated animate__fadeInUp">
            <div class="col-xl-12 ml-xl-5">
                <h2
                    class="techskill-sub-title"
                >
                <i class="fa-solid fa-diamond"></i>
                    Backend
                </h2>
            </div>
        </div>

        <div class="row justify-content-center mb-5 animate__animated animate__fadeInUp">
            <div class="col-xl-11 d-flex flex-row flex-wrap">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-flask"></i>
                        <p class="mb-0">Flask</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-django"></i>
                        <p class="mb-0">Django</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-spring"></i>
                        <p class="mb-0">Spring</p>
                    </div>
                </div>
    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-node-js"></i>
                        <p class="mb-0">ExpressJS</p>
                    </div>
                </div>
                    
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-postgresql"></i>
                        <p class="mb-0">PostgreSQL</p>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="fa-solid fa-table"></i>
                        <p class="mb-0">SQlite</p>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-mysql"></i>
                        <p class="mb-0">MySQL</p>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-mongodb"></i>
                        <p class="mb-0">MongoDb</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 animate__animated animate__fadeInUp">
            <div class="col-xl-12 ml-xl-5">
                <h2
                    class="techskill-sub-title"
                >
                <i class="fa-solid fa-diamond"></i>
                    Content Management Systems
                </h2>
            </div>
        </div>


        <div class="row justify-content-center mb-5 animate__animated animate__fadeInUp">
            <div class="col-xl-11 d-flex flex-row flex-wrap">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="fa-brands fa-wordpress"></i>
                        <p class="mb-0">Wordpress</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 animate__animated animate__fadeInUp">
            <div class="col-xl-12 ml-xl-5">
                <h2
                    class="techskill-sub-title"
                >
                <i class="fa-solid fa-diamond"></i>
                    Other Technologies
                </h2>
            </div>
        </div>

        <div class="row justify-content-center mb-5 animate__animated animate__fadeInUp">
            <div class="col-xl-11 d-flex flex-row flex-wrap">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-github"></i>
                        <p class="mb-0">Git</p>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-docker"></i>
                        <p class="mb-0">Docker</p>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-kubernetes"></i>
                        <p class="mb-0">Kubernetes</p>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-icloud"></i>
                        <p class="mb-0">Chameleon Cloud</p>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-postman"></i>
                        <p class="mb-0">Postman</p>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                    <div class="skill-card d-flex flex-column align-items-center">
                        <i class="cib-jira"></i>
                        <p class="mb-0">Jira</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Top Button -->
<div 
    class="container-fluid bg-platinum"
>
    <div 
        class="row justify-content-start"
    >
        <div class="col-lg-3 text-center">
            <button 
                type="button" 
                class="btn btn-outline-dark w-50"
                (click)="makeMeFly()"
            > 
            <i 
                [ngClass]="{
                'animate__animated animate__fadeOutUpBig animate__slower jet-green': isFlying
                }"
                class="fa-solid fa-jet-fighter-up">
            </i> 
                Top
            </button>
        </div>
    </div>
</div>