/* You can add global styles to this file, and also import other style files */

/* SCSS Variables */
$colorMaastrichtBlue: #001a3b;
$colorAquamarine: #00fb9f;
$colorGrey: #9e9e9e;
$colorLavenderBlue: #c7d8ed;
$colorCoolGrey: #8d93ab;
$colorPlatinum: #e5e5e5;

.html {
    scroll-behavior: smooth;
}

/* Fonts */
.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

/* Colors */

.bg-theme-blue {
    background-color: $colorMaastrichtBlue;
}

.color-theme-blue {
    color: $colorMaastrichtBlue;
}

.bg-theme-green {
    background-color: $colorAquamarine;
}

.color-theme-green {
    color: $colorAquamarine;
}

.bg-grey {
    background-color: $colorGrey;
}

.color-grey {
    color: $colorGrey;
}

.color-lavender-blue {
    color: $colorLavenderBlue;
}

.color-platinum {
    color: $colorPlatinum;
}

.bg-platinum {
    background-color: $colorPlatinum;
}

/* Custom Size */

.display-125 {
    font-size: 1.25rem;
}

.letter-spacing-1 {
    letter-spacing: 0.1rem;
}

.letter-spacing-2 {
    letter-spacing: 0.2rem;
}

.letter-spacing-01 {
    letter-spacing: 0.01rem;
}

.letter-spacing-02 {
    letter-spacing: 0.02rem;
}

/* Logo Text */
.logo-text {
    color: $colorAquamarine;
    font-size: xx-large;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-left: 1rem;
}

.logo-text:hover {
    text-decoration: none;
    color: $colorAquamarine;
}

.logo-text .log-sub-text {
    color: $colorMaastrichtBlue;
    border: 1px solid $colorAquamarine;
    background: $colorAquamarine;
    padding-right: 2rem;
    padding-left: 0.4rem;
}

/* Aquamarine button */
.aqua-btn {
    background-color: $colorMaastrichtBlue;
    color: $colorMaastrichtBlue;
    border: 1px solid $colorAquamarine;
    border-radius: 0.25rem;
    color: $colorAquamarine;
    cursor: pointer;
}

.aqua-btn:hover {
    background-color: $colorAquamarine;
    color: $colorMaastrichtBlue;
    border: 1px solid $colorMaastrichtBlue;
}

// Light Outline Button Custom
.btn-custom-2 {
    margin: 0.5rem;
    width: 10rem;
}

// Console style
.console {
    padding-top: 1rem;
    background: #0010238c;
    border-radius: 0.6rem;
    padding: 1rem 1rem 1rem 1rem;
}

.hero-name {
    color:$colorLavenderBlue;
    font-weight: bold;
    @extend .font-roboto, .letter-spacing-01;
}

.hero-title {
    color: $colorCoolGrey;
    font-weight: bolder;
    @extend .font-roboto, .letter-spacing-01;
}

.hero-intro {
    color: #c1c1c1;
    @extend .font-roboto;
}

.about-heading {
    color:#bababa;
    font-size: 10rem;
    font-weight: bold;
    @extend .font-roboto;
}

.img-jay-barot {
    width: 40%;
    margin: 25%;
    border-radius: 100%;
}

.svg-container {
    background-image: url(assets/images/gggyrate.svg);
    background-size: cover;
    background-position: center;
}

#hero {
    background-image: url(assets/images/ffflurry.svg);
    background-size: cover;
    background-position: center;
}

// Media Queries

/* Very Small devices (phones, 600px and up) */
@media only screen and (min-width: 200px) {

    #hero-console {
        margin: 0rem 0rem 0rem 0rem;
    }

    #hero-left {
        padding: 1rem;
    }

    #h-name {
        font-size: 3rem;
        margin-left: 0.5rem;
    }

    #h-title {
        font-size: 2rem;
        margin-left: 0.5rem;
    }

    #h-intro {
        font-size: 1.2rem;
        margin-left: 0.5rem;
    }
}

/* Small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #hero-console {
        margin: 0rem 0rem 0rem 0rem;
    }

    #hero-left {
        padding: 2rem;
    }

    #h-name {
        font-size: 4rem;
        margin-left: 1rem;
    }

    #h-title {
        font-size: 3rem;
        margin-left: 1rem;
    }

    #h-intro {
        font-size: 1.4rem;
        margin-left: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #hero-console {
        margin: 0rem 0rem 0rem 0rem;
    }

    #hero-left {
        padding: 5rem;
    }

    #h-name {
        font-size: 7rem;
        margin-left: 2rem;
    }

    #h-title {
        font-size: 4rem;
        margin-left: 2rem;
    }

    #h-intro {
        font-size: 1.4rem;
        margin-left: 2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #hero-console {
        margin: 0rem 0rem 0rem 0rem;
    }

    #hero-left {
        padding: 5rem;
    }

    #h-name {
        font-size: 7rem;
        margin-left: 2rem;

    }

    #h-title {
        font-size: 4rem;
        margin-left: 2rem;
    }

    #h-intro {
        font-size: 1.5rem;
        margin-left: 2rem;
    }
}
  
  
