/* You can add global styles to this file, and also import other style files */

/* SCSS Variables */
$colorMaastrichtBlue: #001a3b;
$colorAquamarine: #00fb9f;
$colorGrey: #9e9e9e;
$colorLavenderBlue: #c7d8ed;
$colorCoolGrey: #8d93ab;
$colorPlatinum: #e5e5e5;

.html {
    scroll-behavior: smooth;
}

/* Fonts */
.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-courier-prime {
    font-family: 'Courier Prime', monospace;
}

.font-dancing-script {
    font-family: 'Dancing Script', cursive;
}

/* Colors */

.bg-theme-blue {
    background-color: $colorMaastrichtBlue;
}

.color-theme-blue {
    color: $colorMaastrichtBlue;
}

.bg-theme-green {
    background-color: $colorAquamarine;
}

.color-theme-green {
    color: $colorAquamarine;
}

.bg-grey {
    background-color: $colorGrey;
}

.color-grey {
    color: $colorGrey;
}

.color-lavender-blue {
    color: $colorLavenderBlue;
}

.color-platinum {
    color: $colorPlatinum;
}

.bg-platinum {
    background-color: $colorPlatinum;
}

.jet-green {
    color: #01c07a;
    // border: 1px solid #00d688;
    // border-radius: 100%;
    // padding: 0.5rem;
}

/* Custom Size */

.display-125 {
    font-size: 1.25rem;
}

.letter-spacing-1 {
    letter-spacing: 0.1rem;
}

.letter-spacing-2 {
    letter-spacing: 0.2rem;
}

.letter-spacing-01 {
    letter-spacing: 0.01rem;
}

.letter-spacing-02 {
    letter-spacing: 0.02rem;
}

a.disabled {
    /* Make the disabled links grayish*/
    color: gray;
    /* And disable the pointer events */
    pointer-events: none;
}

/* Logo Text */
.logo-text {
    color: $colorAquamarine;
    font-size: 1.65rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-left: 1rem;
}

.logo-text:hover {
    text-decoration: none;
    color: $colorAquamarine;
}

.logo-text .log-sub-text {
    color: $colorMaastrichtBlue;
    border: 1px solid $colorAquamarine;
    background: $colorAquamarine;
    padding-right: 2rem;
    padding-left: 0.4rem;
    letter-spacing: 0.1rem;
}

/* Aquamarine button */
.aqua-btn {
    font-weight: bold;
    background-color: $colorMaastrichtBlue;
    color: $colorMaastrichtBlue;
    border: 1px solid $colorAquamarine;
    border-radius: 0rem;
    color: $colorAquamarine;
    cursor: pointer;
}

.aqua-btn:hover {
    background-color: $colorAquamarine;
    color: $colorMaastrichtBlue;
    border: 1px solid $colorMaastrichtBlue;
}

// Light Outline Button Custom
.btn-custom-2 {
    margin: 0.5rem;
    width: 10rem;
    border-radius: 0rem;
}

.btn-custom-3 {
    border-color: $colorLavenderBlue;
    color: $colorLavenderBlue;
}

.btn-custom-3:hover {
    background-color: $colorLavenderBlue;
    color: $colorMaastrichtBlue;
}

.btn-custom-4 {
    margin: 0.5rem;
    width: 8rem;
    border-radius: 0.7rem;
    border-color: $colorAquamarine;
    color: $colorAquamarine;
}

.btn-custom-4:hover {
    background-color: #00fb9f00;
    border-color: $colorAquamarine;
    color: $colorAquamarine;
}

.btn-soft-skill {
    margin: 0.5rem;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @extend .font-courier-prime;
}

.softskills {
    border: 1px solid #5d5d5d;
    border-radius: 0.5rem;
}

.softskills .skill-logo {
    font-size: 2rem;
    color: #5d5d5d;
}

.softskills .skill-text {
    font-size: 1.15rem;
    @extend .font-courier-prime;
}


// Console style
.console {
    padding-top: 1rem;
    background: #0010238c;
    border-radius: 0.6rem;
    padding: 1rem 1rem 1rem 1rem;
}

.hero-name {
    color:$colorLavenderBlue;
    font-weight: bold;
    @extend .font-roboto, .letter-spacing-01;
}

.hero-title {
    color: $colorCoolGrey;
    font-weight: bolder;
    @extend .font-roboto, .letter-spacing-01;
}

.hero-intro {
    color: #c1c1c1;
    @extend .font-montserrat, .letter-spacing-01;
}

.about-heading {
    background: #585757;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 4rem;
    font-weight: bold;
    @extend .font-roboto
}

.about-sub-heading {
    color: #575757;
    font-size: 2rem;
    @extend .font-montserrat;
}

.about-info {
    font-size: 1rem;
    color: #575757;
    // border: 0.1rem solid;
    padding: 1rem;
    // border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem;
    @extend .font-roboto;
}

.about-contact-info-card {
    padding: 1rem;
    background: #d6d6d6;
    // background: linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(230,230,230,1) 35%, rgba(241,241,241,1) 100%);
    background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(230,230,230,1) 35%, rgba(221,221,221,1) 100%);
    box-shadow: 0rem 0rem 1rem 0.05rem lightgray;
    border-radius: 1.5rem;
    margin: 1rem 1rem 1rem 1rem;
    @extend .font-roboto;
}

.experience-light {
    color: #00ffa2;
}

.experience-title {
    font-size: 5rem;
    font-weight: bold;
    background: linear-gradient(#00ffa2, #00c47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.experience-subtitle {
    font-size: 2rem;
    color: #55cfa3;
    @extend .font-montserrat;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.hourglass {
    animation: rotation 10s infinite linear;
}

.experience-card-flex-container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1rem 0.2rem #00fb9f;
    background-color: $colorMaastrichtBlue;
}

.experience-card-flex-item {
    flex: 1;
}

.experience-job-title {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color:$colorLavenderBlue;
    @extend .font-roboto;
}

.experience-company-name {
    font-size: inherit;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: white;
    @extend .font-roboto;
}

.experience-job-link {
    padding: 0rem 0.2rem 0rem 0.2rem;
    font-size: 1.5rem;
    color: $colorAquamarine;
}

.experience-job-link:hover {
    color: $colorLavenderBlue;
}

.experience-job-period {
    font-size: 1.15rem;
    color: $colorCoolGrey;
    @extend .font-roboto-mono;
}

.experience-job-about {
    font-size: 1rem;
    color: white;
    @extend .font-roboto;
}

.experience-job-description {
    color: white;
    font-size: 1.15rem;
    @extend .font-montserrat;
}

.experience-projects-heading {
    font-weight: bold;
    font-size: 1.5rem;
    color: $colorLavenderBlue;
    @extend .font-montserrat;
}

.key-projects {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center; /* Vertically center elements */
}

.custom-circle-check {
    font-size: 2rem;
    margin-right: 1rem;
    color: $colorAquamarine;
}

.anchor-no-style {
    text-decoration: none;
    color: inherit;
}

.anchor-no-style:hover {
    text-decoration: none;
    color: inherit;
}

.key-projects-description {
    font-size: 1.15rem;
    color: white;
    @extend .font-montserrat;
}

.projects-heading {
    background: linear-gradient(#3b3939, #727171);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 7rem;
    font-weight: bold;
    @extend .font-roboto
}

.projects-sub-heading {
    font-size: 2rem;
    color: #656565;
    @extend .font-montserrat;
}

.project-technology-label {
    font-size: 0.8rem;
    color: #4d4d4d;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 0.5rem;
    background: #b7eebd;
    margin: 0.5rem;
    @extend .font-roboto;
}

.btns-carousel {
    color: #32cd77;
    font-size: 5rem;
}

.btns-carousel:hover {
    color: #02e08f;
    padding: 5px;
    border-radius: 100%;
    border: 2px dotted rgb(97, 238, 84);
    text-shadow: 0 0 5px rgb(97, 238, 84);
}

.carousel-indicators li {
    background-color: #9d9d9d;
    height: 0.5rem;
}

.carousel-indicators .active {
    background-color: #32cd77;
}

.carousel-control-next, .carousel-control-prev {
    width: 10%;
    background-color: #0000000a;
}

.project-card {
    border: 1px solid #c5c5c5;
    background: #f1f1f1;
    // background: linear-gradient(90deg, rgb(241, 241, 241) 0%, rgb(230, 230, 230) 35%, rgb(221, 221, 221) 100%);
    box-shadow: 0rem 0rem 1rem 0.5rem lightgray;
    margin: 1rem 1rem 1rem 1rem;
    // padding: 1rem;
    border-radius: 1rem;
}

.project-card-item {
    flex: 1;
}

.project-image {
    border-radius: 1rem 1rem 0rem 0rem;
}

.project-title {
    font-size: 1rem;
    letter-spacing: 0.01rem;
    color: #3f3f3f;
    text-align: left;
    @extend .font-montserrat;
}

.project-learn-more {
    @extend .font-roboto;
}

.project-subject {
    font-size: 0.9rem;
    @extend .font-roboto-mono;
}

.building-block {
    color: #00ffa2;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    margin: 0.4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    border: 1px solid #00ffa2;
    box-shadow: 3px 3px;
    background: #00fb9f2b;
}

.building-base {
    border-bottom: 3px dashed #01d084f7;
    padding-bottom: 0.5rem;
}

.education-card {
    padding: 2rem;
}

.education-title {
    @extend .experience-job-title;
}

.education-institution-name {
    @extend .experience-company-name;
}

.education-card{
    @extend .experience-card-flex-container;
    box-shadow: none;
    background: none;
    margin: 0rem;
}

.contact-me-textarea {
    width: 100%;
    margin-bottom: 0.5rem;
}

.contact-me-email {
    width: 100%;
    margin-bottom: 0.5rem;
}

.form-control {
    background-color: #cf000000;
    border-radius: 0rem;
    @extend .font-courier-prime;
}

.form-control:focus {
    background-color: #cf000000;
    color: #495057;
    border-color: #80ff9c;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 76, 0.25);
}

.footer-link {
    margin: 1rem;
    font-size: 1.6rem;
    color: #747474;
}

.footer-link:hover {
    color:#25c37c;
}

.footer-link-icon {
    padding: 0.2rem 0.3rem;
}

.contact-me-title {
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    color: #747474;
    @extend .font-roboto;
}

.contact-me-page-title {
    font-size: 4rem;
    font-weight: bold;
    color: #747474;
    @extend .font-roboto;
}

.contact-me-sub-title {
    text-align: left;
    text-align: left;
    font-size: 1.25rem;
    color: #606060;
    @extend .font-montserrat;
}

.contact-me-page-sub-title {
    font-size: 1.25rem;
    color: #606060;
    @extend .font-montserrat;
}

.publication-title {
    font-size: 4rem;
    font-weight: bold;
    color: #424242;
    // color: #808099;
    @extend .font-roboto;
}

.publication-sub-title {
    font-size: 1.2rem;
    text-decoration: underline;
    padding: 2rem;
    line-height: 200%;
    @extend .font-courier-prime;
}

.exactivities-title {
    color: #585858;
    background: #00ffa2;
    padding: 3rem 4rem 3rem 2rem;
    @extend .publication-title,.font-roboto;
}

.exactivities-sub-title {
    font-size: 1.2rem;
    @extend .font-montserrat;
}

.exactivities-list-title {
    font-size: 2rem;
    font-weight: bold;
    color: #585858;
    @extend .font-roboto;
}

.exactivities-list-title span{
    background: #cbe0ff;
    padding: 2rem 0.2rem 0.2rem 3rem;
}

.exactivities-list-info {
    font-size: 1.2rem;
    @extend .font-montserrat;
}

.publication-card {
    min-height: 12rem;
    margin-bottom: 1rem;
    background: #d8d8d8;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px dashed black;
}

.publication-card-title {
    font-size: 1.2rem;
    @extend .font-roboto-mono;
}

.publication-card-journal {
    @extend .font-courier-prime;
}

.publication-card-info {
    @extend .font-courier-prime;
}

.publication-card-btn {
    @extend .font-courier-prime;
    border-radius: 0rem;
    border: none;
    background: none;
    padding: 0rem;
}

.publication-card-btn:hover {
    border-radius: 0rem;
    color: #0152a8;
    background: none;
    padding: 0rem;
}

.techskills-title {
    font-size: 4rem;
    font-weight: bold;
    color: #424242;
    @extend .font-roboto;
}

.techskills-title i {
    font-size: 4rem;
    color: #07db8d;
    rotate: 45deg;
}

.techskill-sub-title{
    @extend .font-roboto;
}

.techskill-sub-title i {
    color: #07db8d;
}

.skill-card {
    margin: 0.5rem;
    // border: 1px dashed;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, rgb(215 215 215) 0%, rgb(255 255 255) 50%, rgb(218 216 216) 100%);
}

.skill-card i {
    font-size: 4rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: #6e6e6e;
}

.skill-card p {
    font-size: 1.2rem;
    text-align: center;
    @extend .font-courier-prime;
}

.img-jay-barot {
    width: 40%;
    margin: 25%;
    // border-radius: 100%;
    -webkit-clip-path: polygon(0% 50%, 27% 7%, 69% 6%, 99% 50%, 70% 94%, 26% 94%);
    clip-path: polygon(0% 50%, 27% 7%, 69% 6%, 99% 50%, 70% 94%, 26% 94%);
}

.svg-container {
    background-image: url(assets/images/gggyrate.svg);
    background-size: cover;
    background-position: center;
}

.custom-is-invalid {
    margin-bottom: 0rem;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.26);
}

.page-not-found-image {
    background: white;
    border-radius: 2rem;
}

.page-not-found-button {
    padding: 1rem;
    background: #00fb9f82;
}

@keyframes animatedBackground {
    from {
    // 100% is one image width to the left, more than 100% is the next repeated image
    // here we are repeating the image 10 times
      background-position: 100% 0;
    }
    to {
      background-position: 0 0;
    }
  }

#hero {
    animation: animatedBackground 10s linear infinite alternate;
    background-image: url(assets/images/ffflurry.svg);
    // background-size: cover;
    background-size: 90%;
    background-position: 0px 0px;
    background-repeat: repeat-x;
}

#experience {
    background-image: url(assets/images/nnnoise.svg);
    background-size: cover;
    background-position: center;
}

#projects {
    background-image: url(assets/images/ttten.svg);
    background-size: cover;
    background-position: center;
} 

#education {
    background-image: url(assets/images/llleaves.svg);
    background-size: cover;
    background-position: center;
} 

// Media Queries

/* Very Small devices (phones, 600px and up) */
@media only screen and (min-width: 200px) {

    #hero {
        animation: animatedBackground 90s linear infinite alternate;
        background-image: url(assets/images/ffflurry.svg);
        background-size: cover;
        background-position: center;
    }

    #h-name, #about-head, .experience-title, .projects-heading {
        font-size: 3rem;
    }

    #h-title {
        font-size: 2rem;
    }

    #h-intro {
        font-size: 1rem;
    }

    .experience-job-title {
        font-size: 1.8rem;
    }

    .experience-job-description, .experience-job-period, .key-projects-description, .about-info {
        font-size: 1.1rem;
    }

    .experience-projects-heading {
        font-size: 1.1rem;
    }

    .custom-circle-check {
        font-size: 1.4rem;
    }

    .project-card-row {
        margin: 1.5rem;
    }

    .projects-sub-heading {
        font-size: 1.4rem;
    }

    .project-card {
        margin: 1rem 2rem 1rem 2rem;
    }

    .btns-carousel {
        font-size: 2.5rem;
    }

    .project-image-row {
        display: none;
    }

    .project-tech-row {
        display: block;
    }

    .project-image {
        width: 100%;
    }

    .bricks-education {
        justify-content: left;
    }

    .building-block {
        font-size: 1.5rem;
    }

    .project-title {
        font-size: 0.85rem;
    }

    .contact-me-title {
        font-size: 2.5rem;
    }

    .contact-me-sub-title {
        font-size: 1.2rem;
    }

    .contact-me-page-title {
        font-size: 2rem;
    }

    .contact-me-page-sub-title {
        font-size: 1.2rem;
    }

    .publication-title {
        font-size: 2rem;
    }

    .publication-sub-title {
        font-size: 1.10rem;
        padding: 1rem 0rem 2rem 0rem;
        text-decoration: none;
    }

    .exactivities-title {
        line-height: 120%;
        padding: 2rem 1rem 2rem 1rem;
        font-size: 1.8rem;
    }

    .hero-container {
        margin-top: 5rem;
    }

    .back-btn-container {
        padding-top: 7rem;
    }

    .techskills-title {
        font-size: 2.5rem;
    }
    
    .techskills-title i {
        font-size: 2.5rem;
    }

    .techskill-sub-title{
        font-size: 1.5rem;
    }

    .skill-card i {
        font-size: 2rem;
    }

    .skill-card p {
        font-size: 1rem;
    }

}

/* Small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {

    #hero {
        animation: none;
        background-image: url(assets/images/ffflurry.svg);
        background-size: cover;
        background-position: center;
    }

    #h-name {
        font-size: 4rem;
    }

    #h-title, #about-head, .experience-title, .projects-heading {
        font-size: 3rem;
    }

    #h-intro {
        font-size: 1rem;
    }

    .experience-job-title {
        font-size: 2rem;
    }

    .experience-job-description, .experience-job-period, .key-projects-description, .about-info {
        font-size: 1.1rem;
    }

    .experience-projects-heading {
        font-size: 1.1rem;
    }

    .custom-circle-check {
        font-size: 1.5rem;
    }

    .project-card-row {
        margin: 2rem;
    }

    .projects-sub-heading {
        font-size: 2rem;
    }

    .projects-sub-heading {
        font-size: 1.6rem;
    }

    .project-card {
        margin: 1rem 3rem 1rem 3rem;
    }

    .btns-carousel {
        font-size: 3rem;
    }

    .project-image-row {
        display: none;
    }

    .project-tech-row {
        display: block;
    }

    .project-image {
        width: 100%;
    }

    .bricks-education {
        justify-content: left;
    }

    .building-block {
        font-size: 1.5rem;
    }

    .project-title {
        font-size: 0.9rem;
    }

    .contact-me-title {
        font-size: 3rem;
    }

    .contact-me-sub-title {
        font-size: 1.25rem;
    }

    .contact-me-page-title {
        font-size: 2.2rem;
    }

    .contact-me-page-sub-title {
        font-size: 1.2rem;
    }

    .publication-title {
        font-size: 2rem;
    }

    .publication-sub-title {
        font-size: 1.15rem;
        padding: 2rem 0rem 2rem 0rem;
        text-align: justify;
    }

    .exactivities-title {
        padding: 2rem 1rem 2rem 1rem;
        font-size: 2.8rem;
    }

    .hero-container {
        margin-top: 5rem;
    }

    .back-btn-container {
        padding-top: 6rem;
    }

    .techskills-title {
        font-size: 3rem;
    }
    
    .techskills-title i {
        font-size: 3rem;
    }

    .techskill-sub-title{
        font-size: 1.5rem;
    }

    .skill-card i {
        font-size: 2rem;
    }

    .skill-card p {
        font-size: 1rem;
    }

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #hero {
        animation: none;
        background-image: url(assets/images/ffflurry.svg);
        background-size: cover;
        background-position: center;
    }

    #h-name {
        font-size: 4rem;
    }

    #h-title, #about-head, .experience-title, .projects-heading {
        font-size: 3rem;
    }

    #h-intro {
        font-size: 1.2rem;
    }

    .experience-job-title {
        font-size: 2.2rem;
    }

    .experience-job-description, .experience-job-period, .key-projects-description, .about-info {
        font-size: 1.1rem;
    }

    .experience-projects-heading {
        font-size: 1.2rem;
    }

    .custom-circle-check {
        font-size: 1.8rem;
    }

    .project-card-row {
        margin: 2.2rem;
    }

    .projects-sub-heading {
        font-size: 1.7rem;
    }

    .project-card {
        margin: 1rem 4rem 1rem 4rem;
    }

    .btns-carousel {
        font-size: 3rem;
    }

    .project-image-row {
        display: none;
    }

    .project-tech-row {
        display: block;
    }

    .project-image {
        width: 100%;
    }

    .bricks-education {
        justify-content: center;
    }

    .building-block {
        font-size: 1.8rem;
    }

    .project-title {
        font-size: 1rem;
    }

    .contact-me-title {
        font-size: 3rem;
    }

    .contact-me-sub-title {
        font-size: 1.25rem;
    }

    .contact-me-page-title {
        font-size: 2.5rem;
    }

    .contact-me-page-sub-title {
        font-size: 1.2rem;
    }

    .publication-title {
        font-size: 3rem;
    }

    .publication-sub-title {
        font-size: 1.25rem;
        padding: 2rem;
        text-align: justify;
    }

    .exactivities-title {
        padding: 2rem 1rem 2rem 1rem;
        font-size: 3.3rem;
    }

    .hero-container {
        margin-top: 5rem;
    }

    .back-btn-container {
        padding-top: 6rem;
    }

    .techskills-title {
        font-size: 3rem;
    }
    
    .techskills-title i {
        font-size: 3rem;
    }

    .techskill-sub-title{
        font-size: 1.5rem;
    }

    .skill-card i {
        font-size: 3rem;
    }

    .skill-card p {
        font-size: 1.2rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #hero {
        animation: none;
        background-image: url(assets/images/ffflurry.svg);
        background-size: cover;
        background-position: center;
    }

    #h-name, #about-head, .experience-title, .projects-heading  {
        font-size: 4rem;
    }

    #h-title {
        font-size: 3rem;
    }

    #h-intro {
        font-size: 1.3rem;
    }

    .experience-job-title {
        font-size: 2.5rem;
    }

    .experience-job-description, .experience-job-period, .key-projects-description, .about-info {
        font-size: 1.1rem;
    }

    .experience-projects-heading {
        font-size: 1.5rem;
    }

    .custom-circle-check {
        font-size: 2rem;
    }

    .project-card-row {
        margin: 2rem;
    }

    .projects-sub-heading {
        font-size: 1.8rem;
    }

    .project-card {
        margin: 1rem 1rem 1rem 1rem;
    }

    .btns-carousel {
        font-size: 5rem;
    }

    .project-image-row {
        display: block;
    }

    .project-tech-row {
        display: block;
    }

    .project-image {
        width: 100%;
    }

    .bricks-education {
        justify-content: center;
    }

    .building-block {
        font-size: 2rem;
    }
    
    .project-title {
        font-size: 1rem;
    }

    .contact-me-title {
        font-size: 3rem;
    }

    .contact-me-sub-title {
        font-size: 1.25rem;
    }

    .contact-me-page-title {
        font-size: 3rem;
    }

    .contact-me-page-sub-title {
        font-size: 1.25rem;
    }

    .publication-title {
        font-size: 4rem;
    }

    .publication-sub-title {
        font-size: 1.3rem;
        padding: 2rem;
        text-align: justify;
    }

    .exactivities-title {
        padding: 4rem 5rem 4rem 2rem;
        font-size: 3.5rem;
    }

    .hero-container {
        margin-top: 4rem;
    }

    .back-btn-container {
        padding-top: 10rem;
    }

    .techskills-title {
        font-size: 4rem;
    }
    
    .techskills-title i {
        font-size: 4rem;
    }

    .techskill-sub-title{
        font-size: 2rem;
    }

    .skill-card i {
        font-size: 4rem;
    }

    .skill-card p {
        font-size: 1.2rem;
    }

}

/* Extra Large devices (desktops, 1300px and up) */
@media only screen and (min-width: 1300px) {
    .hero-container {
        margin-top: 2rem;
    }

    .back-btn-container {
        padding-top: 6rem;
    }

    .exactivities-title {
        padding: 4rem 5rem 4rem 2rem;
        font-size: 3.5rem;
    }

    .exactivities-sub-title {
        font-size: 1.4rem;
    }

    #hero {
        animation: animatedBackground 10s ease-in-out infinite alternate;
        background-image: url(assets/images/ffflurry.svg);
        background-size: 90%;
        background-position: 0px 0px;
        background-repeat: repeat-x;
    }
}
  
  
