/* You can add global styles to this file, and also import other style files */

/* SCSS Variables */
$colorMaastrichtBlue: #001a3b;
$colorAquamarine: #00fb9f;
$colorGrey: #9e9e9e;
$colorLavenderBlue: #c7d8ed;
$colorCoolGrey: #8d93ab;
$colorPlatinum: #e5e5e5;

.html {
    scroll-behavior: smooth;
}

/* Fonts */
.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-courier-prime {
    font-family: 'Courier Prime', monospace;
}

/* Colors */

.bg-theme-blue {
    background-color: $colorMaastrichtBlue;
}

.color-theme-blue {
    color: $colorMaastrichtBlue;
}

.bg-theme-green {
    background-color: $colorAquamarine;
}

.color-theme-green {
    color: $colorAquamarine;
}

.bg-grey {
    background-color: $colorGrey;
}

.color-grey {
    color: $colorGrey;
}

.color-lavender-blue {
    color: $colorLavenderBlue;
}

.color-platinum {
    color: $colorPlatinum;
}

.bg-platinum {
    background-color: $colorPlatinum;
}

/* Custom Size */

.display-125 {
    font-size: 1.25rem;
}

.letter-spacing-1 {
    letter-spacing: 0.1rem;
}

.letter-spacing-2 {
    letter-spacing: 0.2rem;
}

.letter-spacing-01 {
    letter-spacing: 0.01rem;
}

.letter-spacing-02 {
    letter-spacing: 0.02rem;
}

/* Logo Text */
.logo-text {
    color: $colorAquamarine;
    font-size: xx-large;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-left: 1rem;
}

.logo-text:hover {
    text-decoration: none;
    color: $colorAquamarine;
}

.logo-text .log-sub-text {
    color: $colorMaastrichtBlue;
    border: 1px solid $colorAquamarine;
    background: $colorAquamarine;
    padding-right: 2rem;
    padding-left: 0.4rem;
}

/* Aquamarine button */
.aqua-btn {
    font-weight: bold;
    background-color: $colorMaastrichtBlue;
    color: $colorMaastrichtBlue;
    border: 1px solid $colorAquamarine;
    border-radius: 0.25rem;
    color: $colorAquamarine;
    cursor: pointer;
}

.aqua-btn:hover {
    background-color: $colorAquamarine;
    color: $colorMaastrichtBlue;
    border: 1px solid $colorMaastrichtBlue;
}

// Light Outline Button Custom
.btn-custom-2 {
    margin: 0.5rem;
    width: 10rem;
}

.btn-custom-3 {
    border-color: $colorLavenderBlue;
    color: $colorLavenderBlue;
}

.btn-custom-3:hover {
    background-color: $colorLavenderBlue;
    color: $colorMaastrichtBlue;
}

.btn-custom-4 {
    margin: 0.5rem;
    width: 8rem;
    border-radius: 100px;
    border-color: $colorAquamarine;
    color: $colorAquamarine;
}

.btn-custom-4:hover {
    background-color: #00fb9f00;
    border-color: $colorAquamarine;
    color: $colorAquamarine;
}

// Console style
.console {
    padding-top: 1rem;
    background: #0010238c;
    border-radius: 0.6rem;
    padding: 1rem 1rem 1rem 1rem;
}

.hero-name {
    color:$colorLavenderBlue;
    font-weight: bold;
    @extend .font-roboto, .letter-spacing-01;
}

.hero-title {
    color: $colorCoolGrey;
    font-weight: bolder;
    @extend .font-roboto, .letter-spacing-01;
}

.hero-intro {
    color: #c1c1c1;
    @extend .font-montserrat, .letter-spacing-01;
}

.about-heading {
    background: #585757;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 5rem;
    font-weight: bold;
    @extend .font-roboto
}

.about-sub-heading {
    color: #575757;
    font-size: 2rem;
    @extend .font-montserrat;
}

.about-info {
    font-size: 1.15rem;
    color: #575757;
    // border: 0.1rem solid;
    padding: 1rem;
    // border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem;
    @extend .font-roboto;
}

.about-contact-info-card {
    padding: 1rem;
    background: #d6d6d6;
    // background: linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(230,230,230,1) 35%, rgba(241,241,241,1) 100%);
    background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(230,230,230,1) 35%, rgba(221,221,221,1) 100%);
    box-shadow: 0rem 0rem 1rem 0.05rem lightgray;
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 1rem;
    @extend .font-roboto;
}

.experience-light {
    color: #00ffa2;
}

.experience-title {
    font-size: 5rem;
    font-weight: bold;
    background: linear-gradient(#00ffa2, #01c67d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.experience-subtitle {
    font-size: 2rem;
    color: #55cfa3;
    @extend .font-montserrat;
}

.experience-card-flex-container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem 0.2rem #00fb9f;
    background-color: $colorMaastrichtBlue;
}

.experience-card-flex-item {
    flex: 1;
}

.experience-job-title {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color:$colorLavenderBlue;
    @extend .font-roboto;
}

.experience-company-name {
    font-size: inherit;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: white;
    @extend .font-roboto;
}

.experience-job-link {
    font-size: 1.5rem;
    color: $colorAquamarine;
}

.experience-job-link:hover {
    color: $colorLavenderBlue;
}

.experience-job-period {
    font-size: 1.15rem;
    color: $colorCoolGrey;
    @extend .font-roboto-mono;
}

.experience-job-about {
    font-size: 1rem;
    color: white;
    @extend .font-roboto;
}

.experience-job-description {
    color: white;
    font-size: 1.15rem;
    @extend .font-montserrat;
}

.experience-projects-heading {
    font-weight: bold;
    font-size: 1.5rem;
    color: $colorLavenderBlue;
    @extend .font-montserrat;
}

.key-projects {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center; /* Vertically center elements */
}

.custom-circle-check {
    font-size: 2rem;
    margin-right: 1rem;
    color: $colorAquamarine;
}

.anchor-no-style {
    text-decoration: none;
    color: inherit;
}

.anchor-no-style:hover {
    text-decoration: none;
    color: inherit;
}

.key-projects-description {
    font-size: 1.15rem;
    color: white;
    @extend .font-montserrat;
}

.projects-heading {
    background: linear-gradient(#3b3939, #727171);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 7rem;
    font-weight: bold;
    @extend .font-roboto
}

.projects-sub-heading {
    font-size: 2rem;
    color: #656565;
    @extend .font-montserrat;
}

.project-technology-label {
    font-size: 0.8rem;
    color: #4d4d4d;
    width: 5rem;
    padding: 0.3rem;
    border-radius: 3rem;
    background: #b7eebd;
    margin: 0.5rem;
    @extend .font-roboto;
}

.btns-carousel {
    color: #32cd77;
    font-size: 5rem;
}

.btns-carousel:hover {
    color: #02e08f;
    padding: 5px;
    border-radius: 100%;
    border: 2px dotted rgb(97, 238, 84);
    text-shadow: 0 0 5px rgb(97, 238, 84);
}

.carousel-indicators li {
    background-color: #9d9d9d;
}

.carousel-indicators .active {
    background-color: #32cd77;
}

.project-card {
    background: #f1f1f1;
    box-shadow: 0rem 0rem 1rem 0.5rem lightgray;
    margin: 1rem 1rem 1rem 1rem;
}

.project-card-row {
    margin: 3rem;
}

.project-visual {
    padding: 2rem;
    background: #e3e3e3;
}

.project-visual-icon {
    font-size: 5rem;
    color: #969696;
}

.project-title {
    font-size: 1.1rem;
    letter-spacing: 0.01rem;
    color: #3f3f3f;
    text-align: left;
    @extend .font-roboto;
}

.img-jay-barot {
    width: 40%;
    margin: 25%;
    // border-radius: 100%;
    -webkit-clip-path: polygon(0% 50%, 27% 7%, 69% 6%, 99% 50%, 70% 94%, 26% 94%);
    clip-path: polygon(0% 50%, 27% 7%, 69% 6%, 99% 50%, 70% 94%, 26% 94%);
}

.svg-container {
    background-image: url(assets/images/gggyrate.svg);
    background-size: cover;
    background-position: center;
}

#hero {
    background-image: url(assets/images/ffflurry.svg);
    background-size: cover;
    background-position: center;
}

#experience {
    background-image: url(assets/images/nnnoise.svg);
    background-size: cover;
    background-position: center;
}

// #projects {
//     background-image: url(assets/images/ooorganize.svg);
//     background-size: cover;
//     background-position: center;
// } 

// Media Queries

/* Very Small devices (phones, 600px and up) */
@media only screen and (min-width: 200px) {

    #hero-console {
        margin: 0rem 0rem 0rem 0rem;
    }

    #hero-left {
        padding: 1rem;
    }

    #h-name {
        font-size: 3rem;
        margin-left: 0.5rem;
    }

    #h-title {
        font-size: 2rem;
        margin-left: 0.5rem;
    }

    #h-intro {
        font-size: 1.2rem;
        margin-left: 0.5rem;
    }

    #about-head {
        font-size: 3rem;
        text-align: center;
    }

    .experience-title {
        font-size: 3.5rem;
    }

    .experience-job-title {
        font-size: 1.8rem;
    }

    .experience-job-description, .experience-job-period, .key-projects-description, .about-info {
        font-size: 1rem;
    }

    .experience-projects-heading {
        font-size: 1.1rem;
    }

    .custom-circle-check {
        font-size: 1.4rem;
    }

    .project-card-row {
        margin: 1.5rem;
    }

}

/* Small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #hero-console {
        margin: 0rem 0rem 0rem 0rem;
    }

    #hero-left {
        padding: 2rem;
    }

    #h-name {
        font-size: 4rem;
        margin-left: 1rem;
    }

    #h-title {
        font-size: 3rem;
        margin-left: 1rem;
    }

    #h-intro {
        font-size: 1.4rem;
        margin-left: 1rem;
    }

    #about-head {
        font-size: 3rem;
        text-align: center;
    }

    .experience-title {
        font-size: 4rem;
    }

    .experience-job-title {
        font-size: 2rem;
    }

    .experience-job-description, .experience-job-period, .key-projects-description, .about-info {
        font-size: 1rem;
    }

    .experience-projects-heading {
        font-size: 1.1rem;
    }

    .custom-circle-check {
        font-size: 1.5rem;
    }

    .project-card-row {
        margin: 2rem;
    }

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #hero-console {
        margin: 1rem 1rem 1rem 2rem;
    }

    #hero-left {
        padding: 5rem;
    }

    #h-name {
        font-size: 7rem;
        margin-left: 2rem;
    }

    #h-title {
        font-size: 4rem;
        margin-left: 2rem;
    }

    #h-intro {
        font-size: 1.4rem;
        margin-left: 2rem;
    }

    #about-head {
        font-size: 5rem;
        text-align: center;
    }

    .experience-title {
        font-size: 5rem;
    }

    .experience-job-title {
        font-size: 2.2rem;
    }

    .experience-job-description, .experience-job-period, .key-projects-description, .about-info {
        font-size: 1.1rem;
    }

    .experience-projects-heading {
        font-size: 1.2rem;
    }

    .custom-circle-check {
        font-size: 1.8rem;
    }

    .project-card-row {
        margin: 2.2rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #hero-console {
        margin: 1rem 3rem 1rem 2rem;
    }

    #hero-left {
        padding: 5rem;
    }

    #h-name {
        font-size: 7rem;
        margin-left: 2rem;

    }

    #h-title {
        font-size: 4rem;
        margin-left: 2rem;
    }

    #h-intro {
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    #about-head {
        font-size: 5rem;
        text-align: left;
    }

    .experience-title {
        font-size: 5rem;
    }

    .experience-job-title {
        font-size: 2.5rem;
    }

    .experience-job-description, .experience-job-period, .key-projects-description, .about-info {
        font-size: 1.15rem;
    }

    .experience-projects-heading {
        font-size: 1.5rem;
    }

    .custom-circle-check {
        font-size: 2rem;
    }

    .project-card-row {
        margin: 3.5rem;
    }

}
  
  
