<section id="hero" class="py-5 bg-theme-blue" style="min-height: 100vh;">

  <div class="container-fluid mt-3">

    <div class="row">

      <!-- Left -->
      <div id="hero-left" class="col-xl-7">

        <div class="row">
          <div class="col-md-12">
            <div class="color-theme-green d-flex font-roboto-mono console font-weight-bold">
              <p>
                <span class="color-grey">root@localhost:~#</span>
                <span class="letter-spacing-01">
                  Hello World! I'm Jay's personal AI, I'll to help you discover more about his professional background.
                </span>
              </p>
            </div> 
          </div>

        </div>

        <div class="row mt-3">
          <div class="col-md-12">
            <h1 id="h-name" class="hero-name">Jay Barot.</h1>
            <p id="h-title" class="hero-title">Software Developer</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p id="h-intro" class="hero-intro">
              Jay is an experienced software developer who seeks to leverage his skills in creating 
              innovative solutions that drive business success. With a deep passion for high-quality, efficient code, 
              he actively looks for opportunities to collaborate and push the boundaries of what's possible in 
              software development.
            </p>
          </div>
        </div>

      </div>

      <!-- Right -->
      <div class="col-xl-5">

        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <img class="img-fluid" src="assets/images/developer.png" alt="Hero Image Jay Barot">
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
              <p class="color-theme-green font-roboto-mono font-weight-bold">
                <span class="letter-spacing-01">
                  <span class="color-grey"># </span>Know more about Jay's 
                </span>
              </p>
          </div>
        </div>
        
        <!-- Education, Projects, Publication, Technical Skills -->

        <div class="row justify-content-center">
          
          <div class="col-lg-10 text-center">

            <button type="button" class="btn btn-outline-light btn-custom-2">
              <i class="fa-solid fa-graduation-cap"></i>
              Education
            </button>

            <button type="button" class="btn btn-outline-light btn-custom-2">
              <i class="fas fa-tasks"></i>
              Projects
            </button>

            <button type="button" class="btn btn-outline-light btn-custom-2">
              <i class="fa-solid fa-newspaper"></i>
              Publications
            </button>

            <button type="button" class="btn btn-outline-light btn-custom-2">
              <i class="fa-solid fa-laptop-code"></i>
              Technical Skills
            </button>

          </div>

        </div>

      </div>

    </div>
  </div>
</section>



<!-- About Section -->
<section id="about" class="py-5 bg-platinum" style="height: 100vh;">
  <div class="container-fluid">

    <div class="row justify-content-end">
      <div class="col-lg-3 text-center">
        <button type="button" class="btn btn-outline-dark" style="width: 35%"> 
          <i class="fa-solid fa-jet-fighter-up"></i> 
            Top
        </button>
      </div>
    </div>

    <div class="row">

      <!-- Left -->
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-12 text-center">
              <h2 class="about-heading">About.</h2>
          </div>
        </div>

      </div>

      <!-- Right -->
      <div class="col-md-6">
        
        <div class="row">
          <div class="col-lg-12 text-center">

            <div class="svg-container">
              <img id="jay-barot-image" class="img-fluid img-jay-barot" src="assets/images/jay-barot.jpg" alt="Jay Barot Image">
            </div>

          </div>
          
        </div>

      </div>

    </div>

  </div>
</section>

<section id="contact" class="py-5 bg-theme-blue" style="height: 100vh">
  <div class="container">
    <h2>Services</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Nullam id felis ut nunc gravida malesuada. 
      Nullam auctor tincidunt mauris, in consequat nulla consectetur id.</p>
  </div> 
</section>