<!-- 
  Note: Adding "height: 100vh" instead of "min-height: 100vh" to the sections
  will result in an overflow of contents problem.
-->

<!-- Hero Section -->
<section id="hero" class="py-5 bg-theme-blue d-flex align-items-center" style="min-height: 100vh;">

  <div class="container-fluid hero-container">
    <div class="row">

      <!-- Left -->
      <div id="hero-left" class="col-xl-7 d-flex flex-column justify-content-center">

        <div class="row animate__animated animate__fadeInLeft d-flex justify-content-center">
          <div class="col-md-10">
            <div id="hero-console" class="color-theme-green d-flex font-roboto-mono console font-weight-bold">
              <p class="m-0">
                <span class="color-grey">root@TheBarotCode:~#</span>
                <span class="letter-spacing-01">
                  Hello World! Welcome to my website, I'm
                </span>
              </p>
            </div> 
          </div>
        </div>

        <div class="row mt-3 animate__animated animate__fadeInUp d-flex justify-content-center">
          <div class="col-md-10">
            <h1 id="h-name" class="hero-name">Jay Barot.</h1>
            <p id="h-title" class="hero-title">Software Developer & Researcher</p>
          </div>
        </div>

        <div class="row animate__animated animate__fadeInUp d-flex justify-content-center">
          <div class="col-md-10">
            <p id="h-intro" class="hero-intro">
              As an experienced software developer, I leverage my skills to create innovative solutions that 
              enhance societal well-being. With a passion for high-quality, efficient code, I continuously 
              seek collaboration opportunities to push the boundaries of software development. 
              Currently, I am deeply engaged in research within the domain of AI Security and Privacy.
            </p>
            <!-- <p id="h-intro" class="hero-intro">
              I am an experienced software developer, who seeks to leverage my skills in creating innovative solutions 
              that drive business success. With a deep passion for high-quality, efficient code, I actively look for 
              opportunities to collaborate and push the boundaries of what's possible in software development.
            </p> -->
          </div>
        </div>

        <div class="row animate__animated animate__fadeInLeft d-flex justify-content-center">
          <div class="col-md-10">
            <button type="button" 
            class="btn aqua-btn btn-bg-slide px-4"
            (click)="scrollToFooter($event)"
            >
            Chat Now
            <i class="fa-solid fa-comment"></i>
          </button>
          </div>
        </div>

      </div>

      <!-- Right -->
      <div class="col-xl-5 animate__animated animate__fadeInUp">

        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <img class="img-fluid" src="assets/images/developer.webp" alt="Vector illustration of a software developer coding on a laptop against a backdrop of illustrated software screenshots.">
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
              <p class="color-theme-green font-roboto-mono font-weight-bold">
                <span class="letter-spacing-01">
                  <span class="color-grey"># </span>Know more about Jay's 
                </span>
              </p>
          </div>
        </div>
        
        <!-- Education, Projects, Publication, Technical Skills -->

        <div class="row justify-content-center">
          
          <div class="col-lg-10 text-center">

            <button 
              (click)="openLink('https://www.linkedin.com/in/j-barot/')"
              type="button" 
              class="btn btn-outline-light btn-custom-2"
              >
              <i class="fa-brands fa-linkedin"></i>
              LinkedIn
            </button>

            <button 
              type="button" 
              class="btn btn-outline-light btn-custom-2"
              (click)="onInternalLink('/exactivities')"
              >
              <i class="fa-solid fa-people-group"></i>
              Exactivities
            </button>

            <button 
              type="button" 
              class="btn btn-outline-light btn-custom-2"
              (click)="onInternalLink('/publications')"
            >
              <i class="fa-solid fa-newspaper"></i>
                Publications
            </button>

            <button 
              (click)="openLink('https://github.com/barotjay998')"
              type="button" 
              class="btn btn-outline-light btn-custom-2"
            >
              <i class="fa-brands fa-github"></i>
              GitHub
            </button>

          </div>

        </div>

      </div>

    </div>
  </div>
</section>
<!-- Hero Section Ends -->


<!-- About Section -->
<section id="about" class="py-5 bg-platinum d-flex align-items-center" style="min-height: 100vh;">

  <div class="container-fluid">

    <!-- Top Button -->
    <div class="row justify-content-end">
      <div class="col-lg-3 text-center">
        <button 
          type="button" 
          class="btn btn-outline-dark w-50"
          (click)="makeMeFly()"
          > 
          <i 
            [ngClass]="{
              'animate__animated animate__fadeOutUpBig animate__slower jet-green': isFlying
            }"
            class="fa-solid fa-jet-fighter-up">
          </i> 
            Top
        </button>
      </div>
    </div>

    <div class="row align-items-center">

      <!-- Left -->
      <div class="col-xl-6">
        <div 
          class="row" 
          id="aboutTitle" 
          [ngClass]="{
            'animate__animated animate__fadeInUp': divVisibility['aboutTitle']
          }"
        >
          <div class="col-xl-12 m-2 text-center">
              <h2 id="about-head" class="about-heading d-inline text-center">About. </h2>
              <p class="about-sub-heading d-inline">Unveiling the Story Within.</p>
          </div>
        </div>

        <div 
          class="row justify-content-left m-3"
          id="aboutInfoRowOne"
          [ngClass]="{
            'animate__animated animate__fadeInLeft': divVisibility['aboutInfoRowOne']
          }"
        >
          <div class="col-md-10">
            <p class="about-info font-courier-prime">
              <i class="fa-solid fa-quote-left"></i>
                I am currently pursuing a Doctoral Degree in <strong>Computer Science</strong> at
                <a href="https://www.vanderbilt.edu/" target="_blank" class="anchor-no-style pr-2"><strong>Vanderbilt University</strong></a>
                <!-- :                
                Ranked #7 Best Value Schools.<a href="https://www.usnews.com/best-colleges/vanderbilt-3535" target="_blank"><img id="usnewslogo" class="img-fluid" src="assets/images/usnews_logo.webp" 
                style="max-width:5rem; margin: 0px 3px 0px 3px;" alt="U.S.News and World Report Logo"></a> -->

              <i class="fa-solid fa-quote-right"></i> 
            </p> 
          </div>
        </div>

        <div 
          id="aboutInfoRowTwo" 
          [ngClass]="{
            'animate__animated animate__fadeInRight': divVisibility['aboutInfoRowTwo']
          }"
          class="row justify-content-end m-3"
        >
          <div class="col-md-10">
            <p class="about-info font-courier-prime" style="box-shadow: -0.2rem 0.2rem;">
              <i class="fa-solid fa-quote-left"></i>
                I hold a Bachelor's degree in <strong>Information Technology</strong>, 
                complemented by a rich tapestry of over <strong>Two Years</strong> of <strong>Industry Experience</strong>.
              <i class="fa-solid fa-quote-right"></i> 
            </p>
          </div>
        </div>

        <div 
          id="aboutInfoRowThree" 
          [ngClass]="{
            'animate__animated animate__fadeInLeft': divVisibility['aboutInfoRowThree']
          }"
          class="row justify-content-left m-3"
        >
          <div class="col-md-10">
            <p class="about-info font-courier-prime">
              <i class="fa-solid fa-quote-left"></i>
                I bring a unique blend of technical expertise, a passion for innovation, 
                and a keen eye for design, allowing me to create cutting-edge applications 
                that effortlessly merge functionality with aesthetics in my projects.
              <i class="fa-solid fa-quote-right"></i> 
            </p>
          </div>
        </div>
      </div>

      <!-- Right -->
      <div class="col-xl-6 d-flex align-items-center">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="svg-container">
              <img 
                id="jay-barot-image" 
                class="img-fluid img-jay-barot" 
                src="assets/images/jay-barot.webp" 
                alt="Portrait of Jay Barot wearing a black shirt grey tie.">
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- About Section Ends -->


<!-- Experience Section -->
<section id="experience" class="py-5 bg-theme-blue d-flex align-items-center" style="min-height: 100vh;">
  <div class="container-fluid">

    <!-- Top Button -->
    <div class="row justify-content-end">
      <div class="col-lg-3 text-center">
        <button 
          type="button" 
          class="btn btn-outline-light btn-custom-3 w-50" 
          (click)="makeMeFly()"
          > 
          <i 
          [ngClass]="{
            'animate__animated animate__fadeOutUpBig animate__slower jet-green': isFlying,
          }"
          class="fa-solid fa-jet-fighter-up"
          ></i> 
            Top
        </button>
      </div>
    </div>

    <!-- Heading -->
    <div 
      id="experienceTitle"
      [ngClass]="{
        'animate__animated animate__zoomIn': divVisibility['experienceTitle']
      }"
      class="row">
      <div class="col-lg-12 text-center m-4">
        <h2 class="experience-title d-inline">Experience. </h2>
        <p class="d-inline experience-subtitle">Lessons Learned: A Personal Odyssey.</p>
      </div>
    </div>

    <div class="row justify-content-around">

      <!-- Left -->
      <!-- Card -->
      <div 
        id="experienceCardLeft"
        [ngClass]="{
          'animate__animated animate__fadeInUp': divVisibility['experienceCardLeft']
        }"
        class="col-lg-5 experience-card-flex-container"
      >
        <!-- Card Section One: Title, Company Name, Period, Description -->
        <div class="experience-card-item">
          <div class="row">
            <div class="col-md-12">
              <h2 class="experience-job-title">Software Developer 
                <a href="https://syrinx.community/en/" target="_blank" class="d-block experience-company-link">
                  <span class="experience-company-name">Syrinx.</span>
                  <span class="experience-job-link"> <i class="fa-solid fa-link"></i> </span>
                </a>   
              </h2>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <p class="experience-job-period">December 2021 - June 2022</p>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <p class="experience-job-description">
                <span class="d-block">
                  Syrinx empowers laryngeal cancer patients with technologically advanced wearable neck bands. 
                  Utilizing intricate algorithms and cutting-edge voice processing tools, these devices generate lifelike vibration patterns. 
                  Patients regain their authentic voice, even without a voice box.
                </span>
              </p>
            </div>
          </div>
        </div>

        <!-- Card Section Two: Key Projects -->
        <div class="experience-card-item">

          <div class="row">
            <div class="col-md-12">
              <p class="experience-projects-heading"> Key Projects <i class="fa-solid fa-tag"></i> </p>
            </div>
          </div>

          <div class="key-projects">

            <div class="key-projects-item">
              <i class="fa-solid fa-circle-check custom-circle-check"></i> 
            </div>
  
            <div class="key-projects-item">
              <p class="key-projects-description d-inline">Optimized algorithms and successfully produced highly accurate noise-free signals.</p>
            </div>
  
          </div>

        </div>

        <!-- Card Section Two: Technologies -->
        <div class="experience-card-item">
          <div class="row mt-2">
            <div class="col-md-12">
              <p class="experience-projects-heading"> Tech Stack <i class="fa-solid fa-layer-group"></i> </p>
            </div>
          </div>

          <div class="row justify-content-center">
          
            <div class="col-lg-12 text-center">
  
              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-brands fa-python"></i>
                Python
              </button>
  
              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-solid fa-chart-simple"></i>
                Matlab
              </button>
  
            </div>
          </div>
        </div>
      </div>

      <!-- Right -->
      <!-- Card -->
      <div 
        id="experienceCardRight"
        [ngClass]="{
        'animate__animated animate__fadeInUp': divVisibility['experienceCardRight']
        }"
        class="col-lg-5 experience-card-flex-container"
      >
        <!-- Card Section Two: Title, Company Name, Period, Description -->
        <div class="experience-card-item">
          <div class="row">
            <div class="col-md-12">
              <h2 class="experience-job-title">Lead Programmer / Analyst
                <a href="https://www.ximplesolution.com/" target="_blank" class="d-block experience-company-link">
                  <span class="experience-company-name">Ximple Solutions.</span>
                  <span class="experience-job-link"> <i class="fa-solid fa-link"></i> </span>
                </a>   
              </h2>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <p class="experience-job-period">June 2019 - April 2021</p>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <p class="experience-job-description">
                <span class="d-block">
                  Ximple Solutions is a leading provider of cutting-edge Enterprise Resource Planning (ERP) software solutions, 
                  catering to the unique needs of medium to large size businesses globally. 
                </span>
              </p>
            </div>
          </div>
        </div>

        <!-- Card Section Two: Key Projects -->
        <div class="experience-card-item">
          <div class="row">
            <div class="col-md-12">
              <p class="experience-projects-heading"> Key Projects <i class="fa-solid fa-tag"></i> </p>
            </div>
          </div>

          <div class="key-projects">

            <div class="key-projects-item">
              <i class="fa-solid fa-circle-check custom-circle-check"></i> 
            </div>
  
            <div class="key-projects-item">
              <p class="key-projects-description d-inline">Fabricated state-of-the-art web applications for the next generation of ERP 
                and B2B E-commerce platforms using JavaScript, Angular.
              </p>
            </div>
  
          </div>

          <div class="key-projects">

            <div class="key-projects-item">
              <i class="fa-solid fa-circle-check custom-circle-check"></i> 
            </div>
  
            <div class="key-projects-item">
              <p class="key-projects-description d-inline">
                Developed an immense bundle of microservice RESTful APIs and reinforced it by combining modern Java features of
                functional programming.
              </p>
            </div>
  
          </div>
        </div>

        <!-- Card Section Two: Technologies -->
        <div class="experience-card-item">

          <div class="row mt-2">
            <div class="col-md-12">
              <p class="experience-projects-heading"> Tech Stack <i class="fa-solid fa-layer-group"></i> </p>
            </div>
          </div>

          <div class="row justify-content-center">
          
            <div class="col-lg-12 text-center">
  
              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-brands fa-java"></i>
                Java
              </button>
  
              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-brands fa-angular"></i>
                Angular
              </button>
  
              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-brands fa-node-js"></i>
                Node.js
              </button>
  
              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-brands fa-html5"></i>
                HTML
              </button>

              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-brands fa-sass"></i>
                CSS
              </button>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>
<!-- Experience Section Ends -->


<!-- Project Section -->
<section id="projects" class="py-5 bg-platinum d-flex align-items-center" style="min-height: 100vh;">
  <div class="container-fluid">

    <!-- Top Button -->
    <div class="row justify-content-end">
      <div class="col-lg-3 text-center">
        <button 
          type="button" 
          class="btn btn-outline-dark w-50" 
          (click)="makeMeFly()"
        > 
          <i 
            [ngClass]="{
              'animate__animated animate__fadeOutUpBig animate__slower jet-green': isFlying,
            }"
            class="fa-solid fa-jet-fighter-up"
          ></i> 
            Top
        </button>
      </div>
    </div>
    
    <!-- Heading -->
    <div 
      id="projectsHeading"
      [ngClass]="{
        'animate__animated animate__fadeInUp': divVisibility['projectsHeading']
      }"
      class="row"
    >
      <div class="col-lg-12 text-center m-4">
          <h1 class="projects-heading">Projects.</h1>
          <h2 class="projects-sub-heading">Exploring Innovations, Cultivating Solutions.</h2>
        </div>
      </div>

      <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        
          <div class="carousel-inner">
            <div *ngFor="let projectSet of paginatedProjects; let i = index" 
                class="carousel-item" 
                [ngClass]="{'active': i === 0}">
              <div class="container-fluid">
                <div class="row my-4 mx-2 d-flex justify-content-around">
                  
                  <div *ngFor="let project of projectSet" 
                      class="col d-flex align-items-stretch" 
                      [ngClass]="{
                        'col-12': maxProjectsOnSlide === 1, 
                        'col-6': maxProjectsOnSlide === 2,
                        'col-4': maxProjectsOnSlide === 3,  
                        'col-3': maxProjectsOnSlide >= 4,
                      }" 
                    >

                    <div class="project-card d-flex flex-column justify-content-between">
                      <img class="img-fluid project-image" 
                          [src]="project.image || 'assets/images/placeholder.webp'" 
                          alt="{{ project.title }}">
                      
                      <div class="m-2">
                        <p class="project-subject">{{ project.subject }}</p>
                        <p class="project-title">{{ project.title }}</p>
                        <a *ngIf="project.links" class="d-block project-learn-more" href="#">Learn More <i class="fa-solid fa-angles-right"></i></a>
                        <div class="d-flex flex-wrap">
                          <span *ngFor="let tech of project.techStack" class="project-technology-label">{{ tech }}</span>
                        </div>
                        
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="text-center mt-3">
        <button class="fa-solid fa-circle-left btns-carousel" (click)="nextSlide()"></button>
        <button class="fa-solid fa-circle-right btns-carousel" (click)="nextSlide()"></button>
      </div>

  </div>
</section>


<!-- Education Section -->
<section id="education" class="py-5 bg-theme-blue d-flex align-items-center" style="min-height: 100vh;">
  <div class="container-fluid">

    <!-- Top Button -->
    <div class="row justify-content-end">
      <div class="col-lg-3 text-center">
        <button 
          type="button" 
          class="btn btn-outline-light btn-custom-3 w-50" 
          (click)="makeMeFly()"
        > 
          <i 
            [ngClass]="{
              'animate__animated animate__fadeOutUpBig animate__slower jet-green': isFlying,
            }"
            class="fa-solid fa-jet-fighter-up"
          ></i> 
            Top
        </button>
      </div>
    </div>

    <!-- Heading -->
    <div 
      id="educationHeading"
      [ngClass]="{
        'animate__animated animate__fadeInUp': divVisibility['educationHeading']
      }"
      class="row"
    >
      <div class="col-lg-12 text-center m-4">
        <h2 class="experience-title d-inline">
          <i class="cib-koding"></i>ducation. 
        </h2>
        <h2 
          class="
            projects-sub-heading 
            d-flex 
            flex-row 
            flex-wrap
            bricks-education"
          >
          <span class="building-block">Building</span>
          <span class="building-block">a</span>
          <span class="building-block">Strong</span>
          <span class="building-block">Foundation.</span>
        </h2>
      </div>
    </div>


    <!-- Content -->
    <div class="row">
      <div class="col-lg-12">
        <div class="row d-flex justify-content-around">

          <!-- Left -->
          <!-- Card -->
          <div 
            id="educationCardLeft"
            [ngClass]="{
              'animate__animated animate__fadeInUp': divVisibility['educationCardLeft']
            }"
            class="col-lg-5 experience-card-flex-container education-card"
          >

            <div class="experience-card-item">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="experience-job-title">Doctoral Researcher <br> Computer Science
                    <div class="d-block">
                      <a href="https://www.vanderbilt.edu/" target="_blank" class="experience-company-link">
                        <span class="experience-company-name">Vanderbilt University.</span>
                        <span class="experience-job-link"> <i class="fa-solid fa-link"></i> </span>
                      </a>
  
                      <a href="https://goo.gl/maps/RPNTN3r63BKCnSVD9" target="_blank" class="d-inline mx-1" aria-label="Explore Vanderbilt University's location on Google Maps">
                        <span class="experience-job-link"> <i class="fa-solid fa-location-dot"></i> </span>
                      </a>
                    </div>
                  </h2>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12">
                  <p class="experience-job-period">August 2022 - Present
                    <!-- <i class="fa-solid fa-hourglass-start hourglass"></i>  -->
                  </p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12">
                  <p class="experience-job-description">
                    <span class="d-block">
                      The opportunity to pursue my graduate studies at <i>Vanderbilt University</i> has been transformative, 
                      amplifying my proficiency as a researcher and solidifying my skill set. 
                      The state-of-the-art research laboratories serve as a testament to the university's motto of "Dare to Grow," 
                      continually pushing the boundaries of my knowledge and fueling my passion for innovation.
                      <br><br>
                      Currently, I am working in the 
                      <a href="https://lab.vanderbilt.edu/lin-iprivacylab/i-privacy-lab/" 
                          target="_blank" class="d-inline mx-1" 
                          aria-label="Read more about I-Privacy Lab on Vanderbilt Website">
                        <span class="font-weight-bold color-theme-green lab-link">I-Privacy Lab</span>
                      </a> under the guidance of Dr. Lin Dan. Our research 
                      focus in the lab is on innovating in AI Security and Privacy, where we are dedicated to 
                      developing cutting-edge solutions to protect against emerging threats 
                      in the AI landscape.
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Right -->
          <!-- Card -->
          <div 
            id="educationCardRight"
            [ngClass]="{
              'animate__animated animate__fadeInUp': divVisibility['educationCardRight']
            }"
            class="col-lg-5 education-card"
          >

            <div class="experience-card-item">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="experience-job-title">Bachelor of Engineering <br> Information Technology

                    <div class="d-block">
                      <a href="https://www.xavier.ac.in/" target="_blank" class="experience-company-link">
                        <span class="experience-company-name">Xavier Institute of Engineering.</span>
                        <span class="experience-job-link"> <i class="fa-solid fa-link"></i> </span>
                      </a>
  
                      <a href="https://goo.gl/maps/ZFfZjv4qcE6z8eiw7" target="_blank" class="d-inline mx-1" aria-label="Explore Xavier Institute of Engineering location on Google Maps">
                        <span class="experience-job-link"> <i class="fa-solid fa-location-dot"></i> </span>
                      </a>
                    </div>

                  </h2>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12">
                  <p class="experience-job-period">August 2016 - Oct 2020 <i class="fa-solid fa-user-graduate"></i> </p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12">
                  <p class="experience-job-description">
                    <span class="d-block">
                      Attending <i>Xavier Institute of Engineering (XIE), University of Mumbai</i>, was a pivotal point in my life. 
                      It is an institution founded by a 480-year-old Jesuit society dedicated to education and renowned as one 
                      of the top 30 engineering colleges in India. The rich history of this university, which has produced 
                      extraordinary individuals, serves as an inspiration for me. Among its notable alumni is <i>Mahatma Gandhi</i>,
                      a symbol of peace and nonviolence. 
                      <br><br>
                      My time at XIE taught me how to integrate information technology with the needs of society, 
                      empowering me to create impactful software. Through the comprehensive foundation of computer 
                      programming languages I acquired, I found my voice to architect software that can bring 
                      positive transformations to the world.
                    </span>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
<!-- Education Section Ends -->