<!-- 
  Note: Adding "height: 100vh" instead of "min-height: 100vh" to the sections
  will result in an overflow of contents problem.
-->

<!-- Hero Section -->
<section id="hero" class="py-5 bg-theme-blue d-flex align-items-center" style="min-height: 100vh;">

  <div class="container-fluid hero-container">
    <div class="row">

      <!-- Left -->
      <div id="hero-left" class="col-xl-7 d-flex flex-column justify-content-center">

        <div class="row animate__animated animate__fadeInLeft d-flex justify-content-center">
          <div class="col-md-10">
            <div id="hero-console" class="color-theme-green d-flex font-roboto-mono console font-weight-bold">
              <p class="m-0">
                <span class="color-grey">root@TheBarotCode:~#</span>
                <span class="letter-spacing-01">
                  Hello World! Welcome to my website, I'm
                </span>
              </p>
            </div> 
          </div>
        </div>

        <div class="row mt-3 animate__animated animate__fadeInUp d-flex justify-content-center">
          <div class="col-md-10">
            <h1 id="h-name" class="hero-name">Jay Barot.</h1>
            <p id="h-title" class="hero-title">Software Developer</p>
          </div>
        </div>

        <div class="row animate__animated animate__fadeInUp d-flex justify-content-center">
          <div class="col-md-10">
            <p id="h-intro" class="hero-intro">
              I am an experienced software developer, who seeks to leverage my skills in creating innovative solutions 
              that drive business success. With a deep passion for high-quality, efficient code, I actively look for 
              opportunities to collaborate and push the boundaries of what's possible in software development.
            </p>
          </div>
        </div>

        <div class="row animate__animated animate__fadeInLeft d-flex justify-content-center">
          <div class="col-md-10">
            <button type="button" 
            class="btn aqua-btn btn-bg-slide px-4"
            (click)="onInternalLink('/contact-me')"
            >
            Chat Now
            <i class="fa-solid fa-comment"></i>
          </button>
          </div>
        </div>

      </div>

      <!-- Right -->
      <div class="col-xl-5 animate__animated animate__fadeInUp">

        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <img class="img-fluid" src="assets/images/developer.webp" alt="Vector illustration of a software developer coding on a laptop against a backdrop of illustrated software screenshots.">
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
              <p class="color-theme-green font-roboto-mono font-weight-bold">
                <span class="letter-spacing-01">
                  <span class="color-grey"># </span>Know more about Jay's 
                </span>
              </p>
          </div>
        </div>
        
        <!-- Education, Projects, Publication, Technical Skills -->

        <div class="row justify-content-center">
          
          <div class="col-lg-10 text-center">

            <button 
              (click)="openLink('https://www.linkedin.com/in/jay-barot-751720170')"
              type="button" 
              class="btn btn-outline-light btn-custom-2"
              >
              <i class="fa-brands fa-linkedin"></i>
              LinkedIn
            </button>

            <button 
              type="button" 
              class="btn btn-outline-light btn-custom-2"
              (click)="onInternalLink('/exactivities')"
              >
              <i class="fa-solid fa-people-group"></i>
              Exactivities
            </button>

            <button 
              type="button" 
              class="btn btn-outline-light btn-custom-2"
              (click)="onInternalLink('/techskills')"
            >
              <i class="fa-solid fa-laptop-code"></i>
              Technical Skills
            </button>

            <button 
              type="button" 
              class="btn btn-outline-light btn-custom-2"
              (click)="onInternalLink('/publications')"
            >
              <i class="fa-solid fa-newspaper"></i>
                Publications
            </button>

            <!-- <button 
              (click)="openLink('https://profile.indeed.com/p/jayb-msw852b')"
              type="button" 
              class="btn btn-outline-light btn-custom-2"
            >
              <i class="cib-indeed"></i>
              Indeed
            </button> -->

            <button 
              (click)="openLink('https://github.com/barotjay998')"
              type="button" 
              class="btn btn-outline-light btn-custom-2"
            >
              <i class="fa-brands fa-github"></i>
              GitHub
            </button>

          </div>

        </div>

      </div>

    </div>
  </div>
</section>
<!-- Hero Section Ends -->


<!-- About Section -->
<section id="about" class="py-5 bg-platinum d-flex align-items-center" style="min-height: 100vh;">

  <div class="container-fluid">

    <!-- Top Button -->
    <div class="row justify-content-end">
      <div class="col-lg-3 text-center">
        <button 
          type="button" 
          class="btn btn-outline-dark w-50"
          (click)="makeMeFly()"
          > 
          <i 
            [ngClass]="{
              'animate__animated animate__fadeOutUpBig animate__slower jet-green': isFlying
            }"
            class="fa-solid fa-jet-fighter-up">
          </i> 
            Top
        </button>
      </div>
    </div>

    <div class="row">

      <!-- Left -->
      <div class="col-xl-6">
        <div 
          class="row" 
          id="aboutTitle" 
          [ngClass]="{
            'animate__animated animate__fadeInUp': divVisibility['aboutTitle']
          }"
        >
          <div class="col-xl-12 m-2 text-center">
              <h2 id="about-head" class="about-heading d-inline text-center">About. </h2>
              <p class="about-sub-heading d-inline">Unveiling the Story Within.</p>
          </div>
        </div>

        <div 
          class="row justify-content-left m-3"
          id="aboutInfoRowOne"
          [ngClass]="{
            'animate__animated animate__fadeInLeft': divVisibility['aboutInfoRowOne']
          }"
        >
          <div class="col-md-10">
            <p class="about-info font-courier-prime">
              <i class="fa-solid fa-quote-left"></i>
                I am currently pursuing a Masters Degree in <strong>Computer Science</strong> at
                <a href="https://www.vanderbilt.edu/" target="_blank" class="anchor-no-style"><strong>Vanderbilt University</strong></a>:                
                Ranked #13 National University; #8 Best Value Schools.<a href="https://www.usnews.com/best-colleges/vanderbilt-3535" target="_blank"><img id="usnewslogo" class="img-fluid" src="assets/images/usnews_logo.webp" 
                style="max-width:5rem; margin: 0px 3px 0px 3px;" alt="U.S.News and World Report Logo"></a>
              <i class="fa-solid fa-quote-right"></i> 
            </p> 
          </div>
        </div>

        <div 
          id="aboutInfoRowTwo" 
          [ngClass]="{
            'animate__animated animate__fadeInRight': divVisibility['aboutInfoRowTwo']
          }"
          class="row justify-content-end m-3"
        >
          <div class="col-md-10">
            <p class="about-info font-courier-prime" style="box-shadow: -0.2rem 0.2rem;">
              <i class="fa-solid fa-quote-left"></i>
                I hold a Bachelor's degree in <strong>Information Technology </strong>, 
                complemented by a rich tapestry of over <strong>Two Years</strong> of <strong>Industry Experience</strong>.
              <i class="fa-solid fa-quote-right"></i> 
            </p>
          </div>
        </div>

        <div 
          id="aboutInfoRowThree" 
          [ngClass]="{
            'animate__animated animate__fadeInLeft': divVisibility['aboutInfoRowThree']
          }"
          class="row justify-content-left m-3"
        >
          <div class="col-md-10">
            <p class="about-info font-courier-prime">
              <i class="fa-solid fa-quote-left"></i>
                I bring a unique blend of technical expertise, a passion for innovation, 
                and a keen eye for design, allowing me to create cutting-edge applications 
                that effortlessly merge functionality with aesthetics in my projects.
              <i class="fa-solid fa-quote-right"></i> 
            </p>
          </div>
        </div>

        <!-- Contact Info -->
        <div class="row justify-content-center">

          <!-- Email -->
          <div 
            id="aboutEmailCard" 
            [ngClass]="{
              'animate__animated animate__fadeInUp': divVisibility['aboutEmailCard']
            }"
            class="col-xl-5 col-md-4 about-contact-info-card text-center"
          >
            <div class="row" (click)="sendEmail('barotjay998@yahoo.com')" style="cursor: pointer;">
              <div class="col-md-12">
                  <i class="fa-solid fa-envelope" style="font-size: 1.2rem; color: #585757"></i>
              </div>
            </div>
            
            <div class="row" (click)="sendEmail('barotjay998@yahoo.com')" style="cursor: pointer;">
              <div class="col-md-12" style="font-size: 1rem; color: #585757">
                <label>Email</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 my-1">
                <a href = "mailto:barotjay998@yahoo.com" style="letter-spacing: 0.1rem;">
                  BarotJay998@Yahoo.com
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 my-1">
                <a href = "mailto:jay.d.barot@vanderbilt.edu" style="letter-spacing: 0.1rem;">
                  Jay.D.Barot@Vanderbilt.edu
                </a>
              </div>
            </div>
          </div>

          <!-- Phone -->
            <div 
              id="aboutPhoneCard" 
              [ngClass]="{
                'animate__animated animate__fadeInUp': divVisibility['aboutPhoneCard']
              }"
              class="col-xl-5 col-md-4 about-contact-info-card text-center"
            >
              <div class="row" (click)="callPhoneNumber()" style="cursor: pointer;">
                <div class="col-md-12">
                    <i class="fa-solid fa-phone" style="font-size: 1.2rem; color: #585757"></i>
                </div>
              </div>
              <div class="row" (click)="callPhoneNumber()" style="cursor: pointer;">
                <div class="col-md-12" style="font-size: 1rem; color: #585757">
                  <label>Phone</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" style="letter-spacing: 0.05rem;">
                  <span>&nbsp;</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" style="letter-spacing: 0.05rem;">
                  <span style="text-decoration: underline;">US</span> 
                    <a href="tel:+16157790420" style="letter-spacing: 0.1rem;"> +1 (615) 779 - 0420</a> 
                </div>
              </div>
            </div>
        </div>

        <!-- Chat Now Link: Scrolls to the bottom of the page -->
        <!-- <div 
          id="aboutChatNow" 
          [ngClass]="{
            'animate__animated animate__fadeInUp': divVisibility['aboutChatNow']
          }"
          class="row d-flex justify-content-start"
        >
          <div class="col-xl-5 offset-xl-1">
            <a href="#" (click)="scrollToFooter($event)" style="color: #535353"> Chat Now <i class="fa-regular fa-comment-dots"></i></a>
          </div>
        </div> -->

      </div>

      <!-- Right -->
      <div class="col-xl-6 d-flex align-items-center">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="svg-container">
              <img 
                id="jay-barot-image" 
                class="img-fluid img-jay-barot" 
                src="assets/images/jay-barot.webp" 
                alt="Portrait of Jay Barot wearing a black shirt grey tie.">
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- About Section Ends -->


<!-- Experience Section -->
<section id="experience" class="py-5 bg-theme-blue d-flex align-items-center" style="min-height: 100vh;">
  <div class="container-fluid">

    <!-- Top Button -->
    <div class="row justify-content-end">
      <div class="col-lg-3 text-center">
        <button 
          type="button" 
          class="btn btn-outline-light btn-custom-3 w-50" 
          (click)="makeMeFly()"
          > 
          <i 
          [ngClass]="{
            'animate__animated animate__fadeOutUpBig animate__slower jet-green': isFlying,
          }"
          class="fa-solid fa-jet-fighter-up"
          ></i> 
            Top
        </button>
      </div>
    </div>

    <!-- Heading -->
    <div 
      id="experienceTitle"
      [ngClass]="{
        'animate__animated animate__zoomIn': divVisibility['experienceTitle']
      }"
      class="row">
      <div class="col-lg-12 text-center m-4">
        <h2 class="experience-title d-inline">Experience. </h2>
        <p class="d-inline experience-subtitle">Lessons Learned: A Personal Odyssey.</p>
      </div>
    </div>

    <div class="row justify-content-around">

      <!-- Left -->
      <!-- Card -->
      <div 
        id="experienceCardLeft"
        [ngClass]="{
          'animate__animated animate__fadeInUp': divVisibility['experienceCardLeft']
        }"
        class="col-lg-5 experience-card-flex-container"
      >
        <!-- Card Section One: Title, Company Name, Period, Description -->
        <div class="experience-card-item">
          <div class="row">
            <div class="col-md-12">
              <h2 class="experience-job-title">Software Developer 
                <a href="https://syrinx.community/en/" target="_blank" class="d-block experience-company-link">
                  <span class="experience-company-name">Syrinx.</span>
                  <span class="experience-job-link"> <i class="fa-solid fa-link"></i> </span>
                </a>   
              </h2>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <p class="experience-job-period">December 2021 - June 2022</p>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <p class="experience-job-description">
                <span class="d-block">
                  Syrinx empowers laryngeal cancer patients with technologically advanced wearable neck bands. 
                  Utilizing intricate algorithms and cutting-edge voice processing tools, these devices generate lifelike vibration patterns. 
                  Patients regain their authentic voice, even without a voice box.
                </span>
              </p>
            </div>
          </div>
        </div>

        <!-- Card Section Two: Key Projects -->
        <div class="experience-card-item">

          <div class="row">
            <div class="col-md-12">
              <p class="experience-projects-heading"> Key Projects <i class="fa-solid fa-tag"></i> </p>
            </div>
          </div>

          <div class="key-projects">

            <div class="key-projects-item">
              <i class="fa-solid fa-circle-check custom-circle-check"></i> 
            </div>
  
            <div class="key-projects-item">
              <p class="key-projects-description d-inline">Optimized algorithms and successfully produced highly accurate noise-free signals.</p>
            </div>
  
          </div>

        </div>

        <!-- Card Section Two: Technologies -->
        <div class="experience-card-item">
          <div class="row mt-2">
            <div class="col-md-12">
              <p class="experience-projects-heading"> Tech Stack <i class="fa-solid fa-layer-group"></i> </p>
            </div>
          </div>

          <div class="row justify-content-center">
          
            <div class="col-lg-12 text-center">
  
              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-brands fa-python"></i>
                Python
              </button>
  
              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-solid fa-chart-simple"></i>
                Matlab
              </button>
  
            </div>
          </div>
        </div>
      </div>

      <!-- Right -->
      <!-- Card -->
      <div 
        id="experienceCardRight"
        [ngClass]="{
        'animate__animated animate__fadeInUp': divVisibility['experienceCardRight']
        }"
        class="col-lg-5 experience-card-flex-container"
      >
        <!-- Card Section Two: Title, Company Name, Period, Description -->
        <div class="experience-card-item">
          <div class="row">
            <div class="col-md-12">
              <h2 class="experience-job-title">Lead Programmer / Analyst
                <a href="https://www.ximplesolution.com/" target="_blank" class="d-block experience-company-link">
                  <span class="experience-company-name">Ximple Solutions.</span>
                  <span class="experience-job-link"> <i class="fa-solid fa-link"></i> </span>
                </a>   
              </h2>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <p class="experience-job-period">June 2019 - April 2021</p>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <p class="experience-job-description">
                <span class="d-block">
                  Ximple Solutions is a leading provider of cutting-edge Enterprise Resource Planning (ERP) software solutions, 
                  catering to the unique needs of medium to large size businesses globally. 
                </span>
              </p>
            </div>
          </div>
        </div>

        <!-- Card Section Two: Key Projects -->
        <div class="experience-card-item">
          <div class="row">
            <div class="col-md-12">
              <p class="experience-projects-heading"> Key Projects <i class="fa-solid fa-tag"></i> </p>
            </div>
          </div>

          <div class="key-projects">

            <div class="key-projects-item">
              <i class="fa-solid fa-circle-check custom-circle-check"></i> 
            </div>
  
            <div class="key-projects-item">
              <p class="key-projects-description d-inline">Fabricated state-of-the-art web applications for the next generation of ERP 
                and B2B E-commerce platforms using JavaScript, Angular.
              </p>
            </div>
  
          </div>

          <div class="key-projects">

            <div class="key-projects-item">
              <i class="fa-solid fa-circle-check custom-circle-check"></i> 
            </div>
  
            <div class="key-projects-item">
              <p class="key-projects-description d-inline">
                Developed an immense bundle of microservice RESTful APIs and reinforced it by combining modern Java features of
                functional programming.
              </p>
            </div>
  
          </div>
        </div>

        <!-- Card Section Two: Technologies -->
        <div class="experience-card-item">

          <div class="row mt-2">
            <div class="col-md-12">
              <p class="experience-projects-heading"> Tech Stack <i class="fa-solid fa-layer-group"></i> </p>
            </div>
          </div>

          <div class="row justify-content-center">
          
            <div class="col-lg-12 text-center">
  
              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-brands fa-java"></i>
                Java
              </button>
  
              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-brands fa-angular"></i>
                Angular
              </button>
  
              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-brands fa-node-js"></i>
                Node.js
              </button>
  
              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-brands fa-html5"></i>
                HTML
              </button>

              <button type="button" class="btn btn-outline-light btn-custom-4">
                <i class="fa-brands fa-sass"></i>
                CSS
              </button>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>
<!-- Experience Section Ends -->


<!-- Project Section -->
<section id="projects" class="py-5 bg-platinum d-flex align-items-center" style="min-height: 100vh;">
  <div class="container-fluid">

    <!-- Top Button -->
    <div class="row justify-content-end">
      <div class="col-lg-3 text-center">
        <button 
          type="button" 
          class="btn btn-outline-dark w-50" 
          (click)="makeMeFly()"
        > 
          <i 
            [ngClass]="{
              'animate__animated animate__fadeOutUpBig animate__slower jet-green': isFlying,
            }"
            class="fa-solid fa-jet-fighter-up"
          ></i> 
            Top
        </button>
      </div>
    </div>
    
    <!-- Heading -->
    <div 
      id="projectsHeading"
      [ngClass]="{
        'animate__animated animate__fadeInUp': divVisibility['projectsHeading']
      }"
      class="row"
    >
      <div class="col-lg-12 text-center m-4">
        <h1 class="projects-heading">Projects.</h1>
        <h2 class="projects-sub-heading">Exploring Innovations, Cultivating Solutions.</h2>
      </div>
    </div>

    <!-- Projects Carouselng -->
    <div 
      id="carouselExampleIndicators" 
      [ngClass]="{
        'animate__animated animate__fadeInUp': divVisibility['carouselExampleIndicators']
      }"
      class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li *ngFor="let index of getRange(numRows)" 
              data-target="#carouselExampleIndicators" 
              [attr.data-slide-to]="index" class="carousel-nav-btns" 
              [ngClass]="{ 'active': index === 0 }"
            >
        </li>
      </ol>

      <div class="carousel-inner">

        <!-- Carousel Item: Repeat it for numRows times -->
        <div *ngFor="let index of getRange(numRows)"
              [ngClass]="{ 'active': index === 0 }"
              class="carousel-item"
              >

          <div class="container">
            <div class="row project-card-row d-flex justify-content-around">
              
              <!-- Projects Card -->
              <div *ngFor="let project of projectData[index]" class="col-lg-3 project-card d-flex flex-column justify-content-between">

                <div class="project-image-row">
                  <div class="row justify-content-center">
                    <div 
                      class="col-12 text-center p-0"
                    >
                        <img
                          *ngIf="project.image == '';else elseBlock"
                          class="img-fluid project-image" 
                          src="assets/images/placeholder.webp"
                          alt="Placeholder image - no image content"
                        >

                        <ng-template #elseBlock>
                          <img
                          class="img-fluid project-image" 
                          src={{project.image}}
                          alt={{project.imageAlt}}
                          >
                        </ng-template>
                      
                    </div>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-lg-12">
                    <p class="project-subject">
                      {{project.subject}}
                    </p>
                  </div>
                </div>

                <div class="project-title-row">
                  <div class="row">
                    <div class="col-lg-12 project-title">
                      <p> 
                        {{project.title}}
                      </p>
                    </div>
                  </div>
                </div>

                <div id="proj-tech" class="mb-2 project-tech-row">
                  <div class="row">
                    <div class="col-lg-12">
                      <a 
                        *ngIf=" project.links != '' "
                        class="d-block project-learn-more"
                        href="#"
                      >
                        Learn More <i class="fa-solid fa-angles-right" style="font-size: 0.8rem;"></i> 
                      </a>
                      <label *ngFor="let technology of project.techStack" class="project-technology-label b-inline text-center">
                        {{technology}}
                      </label>   
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <span class="" aria-hidden="true"><i class="fa-solid fa-circle-left btns-carousel"></i></span>
        <span class="sr-only">Previous</span>
      </a>
      
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <span class="" aria-hidden="true"><i class="fa-solid fa-circle-right btns-carousel"></i></span>
        <span class="sr-only">Next</span>
      </a>

    </div>

  </div>
</section>
<!-- Project Section Ends -->



<!-- Education Section -->
<section id="education" class="py-5 bg-theme-blue d-flex align-items-center" style="min-height: 100vh;">
  <div class="container-fluid">

    <!-- Top Button -->
    <div class="row justify-content-end">
      <div class="col-lg-3 text-center">
        <button 
          type="button" 
          class="btn btn-outline-light btn-custom-3 w-50" 
          (click)="makeMeFly()"
        > 
          <i 
            [ngClass]="{
              'animate__animated animate__fadeOutUpBig animate__slower jet-green': isFlying,
            }"
            class="fa-solid fa-jet-fighter-up"
          ></i> 
            Top
        </button>
      </div>
    </div>

    <!-- Heading -->
    <div 
      id="educationHeading"
      [ngClass]="{
        'animate__animated animate__fadeInUp': divVisibility['educationHeading']
      }"
      class="row"
    >
      <div class="col-lg-12 text-center m-4">
        <h2 class="experience-title d-inline">
          <i class="cib-koding"></i>ducation. 
        </h2>
        <h2 
          class="
            projects-sub-heading 
            d-flex 
            flex-row 
            flex-wrap
            bricks-education"
          >
          <span class="building-block">Building</span>
          <span class="building-block">a</span>
          <span class="building-block">Strong</span>
          <span class="building-block">Foundation.</span>
        </h2>
      </div>
    </div>


    <!-- Content -->
    <div class="row">
      <div class="col-lg-12">
        <div class="row d-flex justify-content-around">

          <!-- Left -->
          <!-- Card -->
          <div 
            id="educationCardLeft"
            [ngClass]="{
              'animate__animated animate__fadeInUp': divVisibility['educationCardLeft']
            }"
            class="col-lg-5 experience-card-flex-container education-card"
          >

            <div class="experience-card-item">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="experience-job-title">Master of Science in Computer Science
                    <div class="d-block">
                      <a href="https://www.vanderbilt.edu/" target="_blank" class="experience-company-link">
                        <span class="experience-company-name">Vanderbilt University.</span>
                        <span class="experience-job-link"> <i class="fa-solid fa-link"></i> </span>
                      </a>
  
                      <a href="https://goo.gl/maps/RPNTN3r63BKCnSVD9" target="_blank" class="d-inline mx-1" aria-label="Explore Vanderbilt University's location on Google Maps">
                        <span class="experience-job-link"> <i class="fa-solid fa-location-dot"></i> </span>
                      </a>
                    </div>
                  </h2>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12">
                  <p class="experience-job-period">August 2022 - May 2024 <i class="fa-solid fa-hourglass-start hourglass"></i> </p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12">
                  <p class="experience-job-description">
                    <span class="d-block">
                      The opportunity to pursue my graduate studies at <i>Vanderbilt University</i> has been transformative, 
                      amplifying my proficiency as a software developer and solidifying my skill set. 
                      The state-of-the-art research laboratories serve as a testament to the university's motto of "Dare to Grow," 
                      continually pushing the boundaries of my knowledge and fueling my passion for innovation.
                      <br><br>
                      The transformative curriculum is empowering me to not only solidify crucial core concepts like <i>Distributed Systems</i> but also 
                      providing me the opportunity to delve into <i>Advanced Topics in Software Engineering</i>. With one year remaining to complete 
                      my master's degree in computer science, I am filled with boundless hope and unwavering determination.
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Right -->
          <!-- Card -->
          <div 
            id="educationCardRight"
            [ngClass]="{
              'animate__animated animate__fadeInUp': divVisibility['educationCardRight']
            }"
            class="col-lg-5 education-card"
          >

            <div class="experience-card-item">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="experience-job-title">Bachelor of Engineering in Information Technology

                    <div class="d-block">
                      <a href="https://www.xavier.ac.in/" target="_blank" class="experience-company-link">
                        <span class="experience-company-name">Xavier Institute of Engineering.</span>
                        <span class="experience-job-link"> <i class="fa-solid fa-link"></i> </span>
                      </a>
  
                      <a href="https://goo.gl/maps/ZFfZjv4qcE6z8eiw7" target="_blank" class="d-inline mx-1" aria-label="Explore Xavier Institute of Engineering location on Google Maps">
                        <span class="experience-job-link"> <i class="fa-solid fa-location-dot"></i> </span>
                      </a>
                    </div>

                  </h2>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12">
                  <p class="experience-job-period">August 2016 - May 2020 <i class="fa-solid fa-user-graduate"></i> </p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12">
                  <p class="experience-job-description">
                    <span class="d-block">
                      Attending <i>Xavier Institute of Engineering (XIE), University of Mumbai</i>, was a pivotal point in my life. 
                      It is an institution founded by a 480-year-old Jesuit society dedicated to education and renowned as one 
                      of the top 30 engineering colleges in India. The rich history of this university, which has produced 
                      extraordinary individuals, serves as an inspiration for me. Among its notable alumni is <i>Mahatma Gandhi</i>,
                      a symbol of peace and nonviolence. 
                      <br><br>
                      My time at XIE taught me how to integrate information technology with the needs of society, 
                      empowering me to create impactful software. Through the comprehensive foundation of computer 
                      programming languages I acquired, I found my voice to architect software that can bring 
                      positive transformations to the world.
                    </span>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
<!-- Education Section Ends -->