<div class="container-fluid bg-platinum back-btn-container">
    <div class="row">
        <div class="col-md-12">
            <button 
                type="button" 
                class="btn btn-outline-dark" 
                (click)="onBackHome()"
            >
                <i class="fa-solid fa-angles-left"></i>
                <span class="px-4 font-weight-bold">
                    <i class="fa-solid fa-house-chimney"></i>
                        Home
                </span>
            </button>
        </div>
    </div>
</div>

<section class="bg-platinum d-flex align-items-center pt-4" style="min-height: 100vh;">
    <div class="container">
        <div class="row animate__animated animate__fadeInUp">
            <div class="col-md-12">
                <h1 class="publication-title font-dancing-script text-center">
                    Literature Publications.
                </h1>
                <p class="publication-sub-title"> 
                    <span class="mx-1"></span> <i class="fa-solid fa-quote-left"></i> I am dedicated to advancing the field of software development through insightful publications. 
                    On this page, you will find a collection of works that showcase emphasize the immense significance 
                    of literature in the world of software development. I invite you to discover the power of combining technical 
                    prowess with the art of literature as I take you on an enlightening journey.<i class="fa-solid fa-quote-right"></i>
                </p>
            </div>
        </div>

        <div class="row justify-content-center mt-4 mx-2 animate__animated animate__fadeInUp">
            <div 
                *ngFor="let publication of publicationData" 
                class="col-md-11 publication-card d-flex flex-column justify-content-between"
            >
                <p class="publication-card-title">
                    {{ publication.title }}.
                </p>
                <p class="publication-card-journal">
                    {{ publication.journal }}.
                </p>

                <div class="row d-flex justify-content-between">

                    <div class="col-md-3 text-center">
                        <span class="publication-card-info">
                            {{ publication.date }}
                        </span>
                    </div>

                    <div *ngIf="publication.volume != '' || publication.issue != ''" class="col-md-3 text-center">
                        <p class="publication-card-info mb-0">
                            <span *ngIf="publication.volume != ''" >
                                Volume {{ publication.volume }},
                            </span>
                            <span *ngIf="publication.issue != ''" >
                                Issue {{ publication.issue }}
                            </span>
                        </p>
                    </div>

                    <div *ngIf="publication.volume == '' && publication.issue == ''" class="col-md-3">
                        <p>
                            &nbsp; &nbsp;
                        </p>
                    </div>

                    <div class="col-md-3 text-center">
                        <button 
                        type="button"
                        class="btn btn-outline-primary publication-card-btn"
                        (click)="onViewPublication(publication)"
                        >
                        <i 
                            class="fa-solid fa-eye">
                        </i>
                        View
                        </button>
                    </div>

                    <div class="col-md-3 text-center">
                        <button 
                        type="button"
                        class="btn btn-outline-primary publication-card-btn"
                        (click)="onViewCertificate(publication)"
                        >
                            <i class="fa-solid fa-certificate"></i>
                            Certificate
                        </button>
                    </div>

                </div>

            </div>
        </div> 

    </div>
</section>

